.encounter-panel {
	display: flex;
	flex-direction: column;
	padding: 0 20px 20px 20px;
	overflow: hidden;

	&.compact {
		margin-top: -10px;
		padding: unset;
	}

	.encounter-groups {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 20px;

		.encounter-slot,
		.terrain-slot {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}
	}

	.encounter-meta {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 20px;
	}

	.encounter-stat-blocks {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 20px;

		.monster-panel,
		.terrain-panel {
			padding: 0;
		}
	}

	.malice {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 20px;
	}
}
