@use '../../../colors.scss';
@use "sass:color";

.monster-label,
.terrain-label,
.fixture-label {
	margin: 5px 0;
	border-radius: 10px;
	padding: 10px 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: rgb(0, 0, 0);
	background-color: colors.$monster-default;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.12);

	&.ambusher {
		background: linear-gradient(color.scale(colors.$monster-ambusher, $lightness: 10%), color.scale(colors.$monster-ambusher, $lightness: -10%));
	}

	&.artillery {
		background: linear-gradient(color.scale(colors.$monster-artillery, $lightness: 10%), color.scale(colors.$monster-artillery, $lightness: -10%));
	}

	&.brute {
		background: linear-gradient(color.scale(colors.$monster-brute, $lightness: 10%), color.scale(colors.$monster-brute, $lightness: -10%));
	}

	&.controller {
		background: linear-gradient(color.scale(colors.$monster-controller, $lightness: 10%), color.scale(colors.$monster-controller, $lightness: -10%));
	}

	&.defender {
		background: linear-gradient(color.scale(colors.$monster-defender, $lightness: 10%), color.scale(colors.$monster-defender, $lightness: -10%));
	}

	&.harrier {
		background: linear-gradient(color.scale(colors.$monster-harrier, $lightness: 10%), color.scale(colors.$monster-harrier, $lightness: -10%));
	}

	&.hexer {
		background: linear-gradient(color.scale(colors.$monster-hexer, $lightness: 10%), color.scale(colors.$monster-hexer, $lightness: -10%));
	}

	&.mount {
		background: linear-gradient(color.scale(colors.$monster-mount, $lightness: 10%), color.scale(colors.$monster-mount, $lightness: -10%));
	}

	&.support {
		background: linear-gradient(color.scale(colors.$monster-support, $lightness: 10%), color.scale(colors.$monster-support, $lightness: -10%));
	}

	>* {
		flex: 0 0 auto;
	}

	.ds-text {
		color: rgba(0, 0, 0, 0.88) !important;
	}

	.field {
		.field-label {
			color: rgb(0, 0, 0) !important;
		}

		.field-value {
			color: rgba(0, 0, 0, 0.88) !important;
		}
	}
}
