@use '../../../colors.scss';
@use "sass:color";

.monster-label,
.terrain-label,
.fixture-label {
	margin: 5px 0;
	border-radius: 10px;
	padding: 0 10px;
	color: rgb(0, 0, 0);
	background-color: colors.$monster-default;

	&.ambusher {
		background: linear-gradient(color.scale(colors.$monster-ambusher, $lightness: 10%), color.scale(colors.$monster-ambusher, $lightness: -10%));
	}

	&.artillery {
		background: linear-gradient(color.scale(colors.$monster-artillery, $lightness: 10%), color.scale(colors.$monster-artillery, $lightness: -10%));
	}

	&.brute {
		background: linear-gradient(color.scale(colors.$monster-brute, $lightness: 10%), color.scale(colors.$monster-brute, $lightness: -10%));
	}

	&.controller {
		background: linear-gradient(color.scale(colors.$monster-controller, $lightness: 10%), color.scale(colors.$monster-controller, $lightness: -10%));
	}

	&.defender {
		background: linear-gradient(color.scale(colors.$monster-defender, $lightness: 10%), color.scale(colors.$monster-defender, $lightness: -10%));
	}

	&.harrier {
		background: linear-gradient(color.scale(colors.$monster-harrier, $lightness: 10%), color.scale(colors.$monster-harrier, $lightness: -10%));
	}

	&.hexer {
		background: linear-gradient(color.scale(colors.$monster-hexer, $lightness: 10%), color.scale(colors.$monster-hexer, $lightness: -10%));
	}

	&.mount {
		background: linear-gradient(color.scale(colors.$monster-mount, $lightness: 10%), color.scale(colors.$monster-mount, $lightness: -10%));
	}

	&.support {
		background: linear-gradient(color.scale(colors.$monster-support, $lightness: 10%), color.scale(colors.$monster-support, $lightness: -10%));
	}

	.ds-text {
		color: rgba(0, 0, 0, 0.88) !important;
	}

	.field {
		.field-label {
			color: rgb(0, 0, 0) !important;
		}

		.field-value {
			color: rgba(0, 0, 0, 0.88) !important;
		}
	}
}

.monster-label {
	padding: 10px 15px 0 15px;
}
