.ant-collapse {
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.12);

	>.ant-collapse-item {
		>.ant-collapse-header {
			background-color: rgb(255, 255, 255);
			border-radius: 7px !important;
			align-items: center;
			user-select: none;

			>.ant-collapse-extra {
				display: flex;
			}
		}

		&.ant-collapse-item-active {
			>.ant-collapse-header {
				border-bottom-left-radius: 0 !important;
				border-bottom-right-radius: 0 !important;
			}
		}
	}

	&:hover {
		>.ant-collapse-item {
			>.ant-collapse-header {
				background-color: rgb(230, 244, 255);
				border-color: rgb(64, 150, 255);
			}
		}
	}
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header > .ant-collapse-extra {
	padding-inline-start: 12px;
}

.ant-collapse .ant-collapse-panel>.ant-collapse-body {
	padding: 15px;
	background: linear-gradient(rgb(255, 255, 255), rgb(250, 250, 250));
    border-radius: 0 0 6px 6px;
}

html[data-theme="dark"] {
	.ant-collapse {
		>.ant-collapse-item {
			>.ant-collapse-header {
				background-color: rgb(80, 80, 80);
				color: rgba(255, 255, 255, 0.88) !important;
			}

			>.ant-collapse-panel {
				background-color: unset;
			}
		}

		&:hover {
			>.ant-collapse-item {
				>.ant-collapse-header {
					background-color: rgb(64, 150, 255);
				}
			}
		}
	}

	.ant-collapse .ant-collapse-panel>.ant-collapse-body {
		background: unset;
	}
}
