.transfer-page {
	height: 100%;
	display: flex;
	flex-direction: column;

	.transfer-page-content {
		height: 100%;
		background-color: rgb(230, 230, 230);
		padding: 50px;
		overflow-y: auto;

        .hero-section,
        .sourcebook-section {	
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
            grid-template-rows: min-content;
            justify-items: stretch;
            align-items: start;
            gap: 20px;
        }
	}
}

html[data-theme="dark"] {
	.transfer-page {
		.transfer-page-content {
			background-color: rgb(55, 55, 55);
		}
	}
}
