.transfer-page {
	height: 100%;
	display: flex;
	flex-direction: column;

	.transfer-page-content {
		height: 100%;
		background-color: var(--fs-canvas);
		padding: 50px;
		overflow-y: auto;

        .hero-section,
        .sourcebook-section {	
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-template-rows: min-content;
            justify-items: stretch;
            align-items: start;
            gap: 20px;
        }
	}
}
