.monster-group-panel {
	display: flex;
	flex-direction: column;
	padding: 0 20px 20px 20px;
	overflow: hidden;

	&.compact {
		margin-top: -10px;
		padding: unset;
	}

	.malice {
		margin-top: 20px;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 20px;
	}

	.monsters {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 20px;

		.monster-panel {
			padding: 0;
		}
	}

	.add-ons {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 20px;

		.add-on-panel {
			padding: 0;
		}
	}
}
