.hero-list-page {
	height: 100%;
	display: flex;
	flex-direction: column;

	.hero-list-page-content {
		background-color: rgba(0, 0, 0, 0.1);
		flex: 1 1 0;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto;

		.hero-section-row {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
			gap: 10px;
		}
	}
}
