.hero-edit-page {
	height: 100%;
	display: flex;
	flex-direction: column;

	.hero-edit-page-content {
		background-color: rgb(230, 230, 230);
		flex: 1 1 0;
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 20px;

		&.small {
			gap: 5px;
			padding: 5px;

			.hero-edit-content {
				gap: 5px;
			}
		}

		.page-controls {
			flex: 0 0 auto;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 20px;

			.page-button {
				margin: 10px 0;

				.page-button-title,
				.page-button-subtitle {
					line-height: 22px;
				}

				.page-button-title {
					font-weight: 600;
					text-transform: uppercase;
					letter-spacing: 1px;
				}

				.page-button-subtitle {
					font-size: 10px;
					opacity: 0.5;
				}

				&.not-started {
					color: rgb(160, 0, 0);
				}

				&.in-progress {
					color: rgb(255, 160, 0);
				}
			}
		}

		.search-bar {
			flex: 0 0 auto;
			margin-bottom: -10px;
			display: flex;
			align-items: center;
			gap: 10px;
		}

		.hero-edit-content {
			flex: 1 1 0;
			display: flex;
			gap: 20px;
			overflow: hidden;

			.hero-edit-content-column {
				flex: 1 1 0;
				overflow-x: hidden;
				overflow-y: auto;

				&.single-column {
					max-width: 600px;
					margin: 0 auto;
				}

				&.grid {
					padding: 10px;
					display: grid;
					grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
					gap: 10px;
				}

				&.list {
					padding: 10px;
					display: flex;
					flex-direction: column;
					gap: 10px;

					.grid {
						display: grid;
						grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
						gap: 10px;
					}
				}

				&.selected {
					padding: 5px 20px 20px 20px;
					display: flex;
					flex-direction: column;
					gap: 10px;
				}

				&.choices {
					padding: 5px 20px 20px 20px;
					display: flex;
					flex-direction: column;
					gap: 10px;
					background-color: rgb(245, 245, 245);
					border-radius: 10px;
				}

				.characteristic-row {
					display: flex;
					gap: 10px;

					.characteristic-item {
						flex: 1 1 0;
						display: flex;
						flex-direction: column;
						align-items: center;

						&.characteristic-heading {
							margin-top: 10px;
							font-size: 16px;
						}
					}
				}

				.random-btn {
					color: rgba(0, 0, 0, 0.88);
				}
			}
		}
	}
}

html[data-theme="dark"] {
	.hero-edit-page {
		.hero-edit-page-content {
			background-color: rgb(55, 55, 55);

			.hero-edit-content {
				.hero-edit-content-column {
					&.choices {
						background-color: rgb(10, 10, 10);
					}

					.characteristic-heading {
						color: rgba(255, 255, 255, 0.88);
					}

					.random-btn {
						color: rgba(255, 255, 255, 0.88);
					}
				}
			}
		}
	}
}
