.health-panel {
	width: 230px;
	height: 215px;
	padding: 15px 15px 0 15px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.stamina-temp-progress {
		position: absolute;
		transform: scale(1.6);
	}

	.stamina-progress {
		position: absolute;
		transform: scale(1.3);
	}

	.recovery-progress {
		position: absolute;
	}

	.gauge-info {
		position: absolute;
		text-align: center;
		font-size: 13px;
	}
}