.health-panel {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;

	.health-gauges {
		width: 230px;
		height: 220px;
		padding: 20px 15px 0 15px;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.stamina-temp-progress {
			position: absolute;
			transform: scale(1.6);
		}

		.stamina-progress {
			position: absolute;
			transform: scale(1.3);
		}

		.recovery-progress {
			position: absolute;
		}

		.gauge-info {
			position: absolute;
			text-align: center;
			font-size: 13px;
		}
	}
}
