@use '../../../pages/classic-sheet/common.scss';

.conditions-table {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    align-items: stretch;
    justify-items: stretch;

    font-size: round(1.2rem, 1px);
    font-weight: 400;

    &>.header,
    &>.condition {
        display: grid;
        grid-template-columns: 1.2fr 1fr 1fr;

        div {
            @include common.font-slab();
        }
    }

    .header {
        font-weight: bold;
        text-align: center;

        div {
            align-self: center;
            &:first-child {
                text-align: left;
            }
        }

        border-bottom: 2px solid common.$color-light;
    }

    .condition {
        border-bottom: 2px solid common.$color-light;
        padding: 3px 5px;

        &.immune div:first-child {
            text-decoration: line-through;
        }

        &:nth-child(even) {
            background-color: common.$color-extra-light;
        }

        &>*:not(:last-child) {
            border-right: 2px solid common.$color-light;
        }
    }
}

.save-ends-description {
    @include common.font-slab();
    color: var(--color-text-lightest);
}

.save-target {
    display: inline-block;
    @include common.font-slab();
    color: var(--color-text);
    border-bottom: 1.5px solid common.$color-light;
    min-width: 15px;
    text-align: center;
    font-size: round(1.2rem, 1px);
}