.monster-panel {
	display: flex;
	flex-direction: column;
	padding: 0 20px 20px 20px;
	overflow: hidden;

	&.compact {
		margin-top: -10px;
		padding: unset;
	}

	.stats {
		margin: 5px 0;
		display: flex;
		justify-content: space-between;
		border: 1px solid rgba(5, 5, 5, 0.06);
		border-radius: 10px;
		background-color: rgb(250, 250, 250);

		.field {
			flex: 1 1 0;
		}
	}

	.features,
	.abilities {
		margin: 10px;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 20px;
	}
}

@media (prefers-color-scheme: dark) {
	.monster-panel {
		.stats {
			border-color: rgba(250, 250, 250, 0.6);
			background-color: rgb(30, 30, 30);
		}
	}	
}
