.encounter-run-panel {
	display: flex;
	flex-direction: column;
	padding: 0 20px;
	height: 100%;

	&.is-small {
		.encounter-groups {
			.encounter-group {
				flex-direction: column;

				.group-column {
					flex: 0 0 auto;
					border-radius: 5px 5px 0 0;
				}

				.encounter-slots {
					border-radius: 0 0 5px 5px;
				}
			}
		}
	}

	.initiative-button {
		flex: 0 0 270px;
		height: 60px;

		.maintext {
			font-weight: 600;
		}

		.subtext {
			font-size: 10px;
			opacity: 0.75;
		}
	}

	.encounter-groups {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}
}
