.encounter-run-panel {
	display: flex;
	flex-direction: column;
	padding: 0 20px 20px 20px;
	overflow: hidden;

	&.is-small {
		.encounter-groups {
			.encounter-group {
				flex-direction: column;

				.group-column {
					flex: 0 0 auto;
					border-radius: 5px 5px 0 0;
				}

				.encounter-slots {
					border-radius: 0 0 5px 5px;
				}
			}
		}
	}

	.stats {
		margin: 10px 0;
		padding: 10px 0;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		border: 1px solid rgba(5, 5, 5, 0.06);
		border-radius: 10px;
		background-color: rgb(250, 250, 250);

		.initiative-button {
			width: 270px;
			height: 60px;

			.maintext {
				font-weight: 600;
			}

			.subtext {
				font-size: 10px;
				opacity: 0.75;
			}
		}
	}

	.encounter-groups {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	.malice {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 20px;

		.malice-progress {
			height: 32px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

@media (prefers-color-scheme: dark) {
	.encounter-run-panel {
		.stats {
			border-color: rgba(250, 250, 250, 0.6);
			background-color: rgb(30, 30, 30);
		}
	}	
}
