@use '../../../colors.scss';
@use "sass:color";

.token {
	aspect-ratio: 1/1;
	border-radius: 50%;
	background: linear-gradient(color.scale(colors.$monster-default, $lightness: 10%), color.scale(colors.$monster-default, $lightness: -10%));
	border: 1px solid color.scale(colors.$monster-default, $lightness: -50%);
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.25);

	&.ambusher {
		background: linear-gradient(color.scale(colors.$monster-ambusher, $lightness: 10%), color.scale(colors.$monster-ambusher, $lightness: -10%));
		border-color: color.scale(colors.$monster-ambusher, $lightness: -50%);
	}

	&.artillery {
		background: linear-gradient(color.scale(colors.$monster-artillery, $lightness: 10%), color.scale(colors.$monster-artillery, $lightness: -10%));
		border-color: color.scale(colors.$monster-artillery, $lightness: -50%);
	}

	&.brute {
		background: linear-gradient(color.scale(colors.$monster-brute, $lightness: 10%), color.scale(colors.$monster-brute, $lightness: -10%));
		border-color: color.scale(colors.$monster-brute, $lightness: -50%);
	}

	&.controller {
		background: linear-gradient(color.scale(colors.$monster-controller, $lightness: 10%), color.scale(colors.$monster-controller, $lightness: -10%));
		border-color: color.scale(colors.$monster-controller, $lightness: -50%);
	}

	&.defender {
		background: linear-gradient(color.scale(colors.$monster-defender, $lightness: 10%), color.scale(colors.$monster-defender, $lightness: -10%));
		border-color: color.scale(colors.$monster-defender, $lightness: -50%);
	}

	&.harrier {
		background: linear-gradient(color.scale(colors.$monster-harrier, $lightness: 10%), color.scale(colors.$monster-harrier, $lightness: -10%));
		border-color: color.scale(colors.$monster-harrier, $lightness: -50%);
	}

	&.hexer {
		background: linear-gradient(color.scale(colors.$monster-hexer, $lightness: 10%), color.scale(colors.$monster-hexer, $lightness: -10%));
		border-color: color.scale(colors.$monster-hexer, $lightness: -50%);
	}

	&.mount {
		background: linear-gradient(color.scale(colors.$monster-mount, $lightness: 10%), color.scale(colors.$monster-mount, $lightness: -10%));
		border-color: color.scale(colors.$monster-mount, $lightness: -50%);
	}

	&.support {
		background: linear-gradient(color.scale(colors.$monster-support, $lightness: 10%), color.scale(colors.$monster-support, $lightness: -10%));
		border-color: color.scale(colors.$monster-support, $lightness: -50%);
	}

	&.clickable {
		cursor: pointer;
	}

	.inner-token {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgb(0, 0, 0);
		border-radius: 50%;
		color: white;
		font-weight: 600;
		user-select: none;
		overflow: hidden;

		&.hero {
			background: linear-gradient(rgb(0, 100, 0), rgb(0, 60, 0));
		}

		&.monster {
			background: linear-gradient(rgb(100, 0, 0), rgb(60, 0, 0));
		}

		&.defeated {
			text-decoration: line-through;
			filter: grayscale(1);
		}

		.portrait {
			aspect-ratio: 1/1;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.combatant-button-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;

	.combatant-button-details {
		flex: 1 1 0;
		display: flex;
		flex-direction: column;
		overflow: hidden;

		.combatant-name {
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.combatant-info {
			font-size: 10px;
			opacity: 0.7;
		}
	}
}
