.header-text-panel {
	margin: 10px 0;
	padding-bottom: 5px;
	border-bottom: 1px solid rgba(5, 5, 5, 0.06);
	display: flex;
	align-items: center;
	gap: 10px;

	.header-text {
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	.header-keywords {
		display: block;
	}
}

@media (prefers-color-scheme: dark) {
	.header-text-panel {
		border-bottom: 1px solid rgba(250, 250, 250, 0.6);

		.header-ribbon {
			color: rgba(0, 0, 0, 0.88);
		}
	}	
}
