.header-text-panel {
	margin: 10px 0;
	padding-bottom: 5px;
	border-bottom: 1px solid rgba(5, 5, 5, 0.06);
	display: flex;
	align-items: center;
	gap: 10px;

	.header-ribbon {
		border: 1px solid rgb(100, 170, 220);
		border-radius: 10px;
		background-color: rgb(170, 210, 255);
		padding: 2px 6px;
		font-size: 10px;
		font-weight: 600;
	}

	.header-text {
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	.header-keywords {
		display: block;
	}
}
