.header-text-panel {
	padding: 5px 0;
	border-bottom: 1px solid rgba(5, 5, 5, 0.06);
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;

	&.level-1 {
		margin: 15px 0;
		padding-bottom: 10px;
		border-bottom-width: 5px;

		.header-text-content {
			.header-text {
				font-size: 22px;
				letter-spacing: 2px;
			}
		}
	}

	&.level-2 {
		margin: 10px 0;
		border-bottom-width: 1px;

		.header-text-content {
			.header-text {
				font-size: 16px;
				letter-spacing: 1px;
			}
		}
	}

	.header-text-content {
		min-height: 32px;
		display: flex;
		align-items: center;
		gap: 10px;
	
		.header-text {
			color: rgba(0, 0, 0, 0.88);
			font-weight: 600;
			text-transform: uppercase;
		}

		.header-tags {
			display: block;
		}
	}
}

@media (prefers-color-scheme: dark) {
	.header-text-panel {
		border-bottom-color: rgba(250, 250, 250, 0.6);

		.header-text-content {
			.header-text {
				color: rgba(255, 255, 255, 0.88);
			}
		}

		.ant-btn-icon {
			color: rgba(255, 255, 255, 0.88);
		}
	}	
}
