.header-text-panel {
	padding: 5px 0;
	border-bottom: 1px solid var(--fs-border);
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;

	&.level-1 {
		margin: 15px 0;
		padding-bottom: 10px;
		border-bottom-width: 5px;

		.header-text-content {
			.header-text {
				font-size: 22px;
				letter-spacing: 2px;
			}
		}
	}

	&.level-2 {
		margin: 10px 0;
		border-bottom-width: 1px;

		.header-text-content {
			.header-text {
				font-size: 16px;
				letter-spacing: 1px;
			}
		}
	}

	.header-text-content {
		min-height: 32px;
		display: flex;
		align-items: center;
		gap: 10px;
	
		.header-text {
			color: var(--fs-text);
			font-weight: 600;
			text-transform: uppercase;

			&.strikethrough {
				text-decoration: line-through;
			}
		}
	}
}
