@use '../../../pages/classic-sheet/common.scss';

main#classic-sheet .library-item-sheet {
    .page {
        --gap: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap);
        padding: 5px;

        .card {
            margin: 0;
            align-self: flex-start;
        }
    }
}
