@use '../../../pages/classic-sheet/common.scss';

main#classic-sheet .library-item-sheet {
    .page {
        --gap: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap);
        padding: 5px;

        h1 {
            font-weight: 900;
            font-size: round(3.85rem, 1px);
            padding-bottom: 0;
            text-align: left;
            border-bottom: 2px solid common.$color-medium;
        }

        .card {
            margin: 0;
            align-self: flex-start;
        }
    }
}
