.auth-page {
	height: 100%;
	display: flex;
	flex-direction: column;

    .auth-page-content {
		height: 100%;
		background-color: rgb(230, 230, 230);
		padding: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 50px;
		overflow-y: auto;

        .patreon-connect-status {
            .ant-result-icon .check-icon svg {
                width: 75px;
                height: 75px;
            }

            .ant-result-body {
                padding: 10px 20px 20px 20px;
				display: flex;
				flex-direction: column;
				gap: 20px;
            }
        }
    }
}

html[data-theme="dark"] {
	.auth-page {
		.auth-page-content {
			background-color: rgb(55, 55, 55);
		}
	}
}
