.auth-page {
	height: 100%;
	display: flex;
	flex-direction: column;

    .auth-page-content {
		height: 100%;
		background-color: rgb(230, 230, 230);
		padding: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 50px;
		overflow-y: auto;

		.data-loader-container {
			display: flex;
			flex-direction: column;
			gap: 20px;
			width: 350px;
			padding: 20px;
			border-radius: 10px;
			background-color: rgb(255, 255, 255);
			box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.12);

			.overall-state {
				display: flex;
				justify-content: center;

				svg {
					width: 75px;
					height: 75px;
				}
			}
		}
    }
}

html[data-theme="dark"] {
	.auth-page {
		.auth-page-content {
			background-color: rgb(55, 55, 55);

			.data-loader-container {
				background-color: rgb(55, 55, 55);
			}
		}
	}
}
