.patreon-connect-status {
    h3 {
        text-align: center;
    }

    .ant-result-icon .check-icon svg {
        width: 75px;
        height: 75px;
    }

    .ant-result-body {
        width: 250px;
        padding: 20px;
        margin: 20px auto 0;
    }
}
