.imbuement-edit-panel {
	display: flex;
	flex-direction: row;
	gap: 20px;
	overflow: hidden;

	.imbuement-workspace-column,
	.imbuement-preview-column {
		flex: 1 1 0;
		padding: 0 5px 5px 5px;
		overflow-y: auto;
	}
}
