.sourcebook-panel {
    border-radius: 5px;
	padding: 0 10px 5px 10px;
	display: flex;
	gap: 10px;

	&.editing {
		padding: 10px;

		.action-buttons {
			padding-top: unset;
		}
	}

	&:hover {
		background-color: rgba(0, 0, 0, 0.06);
	}

	.content {
		flex: 1 1 0;
	}

	.action-buttons {
		padding-top: 11px;
		display: flex;
		flex-direction: column;
	}
}
