.monster-edit-panel {
	display: flex;
	flex-direction: row;
	gap: 20px;
	overflow: hidden;

	.monster-workspace-column,
	.monster-preview-column {
		flex: 1 1 0;
		padding: 0 5px 5px 5px;
		overflow-y: auto;
	}

	.category-selector {
		height: 46px;
		white-space: normal;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 18px;
	}

	.portrait-edit {
		border: 3px solid rgba(5, 5, 5, 0.2);
		border-radius: 50%;
		aspect-ratio: 1/1;
		width: 200px;
		height: 200px;
		object-fit: cover;
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
	}
}
