.hero-sidebar {
	&.column {
		flex: 0 0 250px;
		overflow-y: auto;
		display: flex;
		flex-direction: column;
		gap: 10px;

		@media (min-width: 1700px) {
			flex-basis: 510px;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			align-content: start;
			align-items: start;
		}

		@media (min-width: 2300px) {
			flex-basis: 770px;
			grid-template-columns: repeat(3, 1fr);
		}
	}

	&.grid {
		flex: 1 1 0;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		gap: 10px;
	}

	&.list {
		flex: 1 1 0;
		display: block;
		padding: 0 5px;
	}

	.damage-modifier {
		display: flex;
		justify-content: space-between;
	}

	.gain {
		margin: 5px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;

		&.used {
			opacity: 0.3;
		}

		.gain-condition,
		.gain-description {
			color: var(--color-text-lightest);
			font-size: 12px;
		}

		.gain-condition {
			font-style: italic;
		}
	}
}
