.adventure-panel {
	display: flex;
	flex-direction: column;
	padding: 0 20px 20px 20px;
	overflow: hidden;

	&.compact {
		margin-top: -10px;
		padding: unset;
	}

	.plot-display-container {
		display: flex;
		gap: 20px;

		.plot-details {
			flex: 0 0 350px;

			.plot-content-row {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				gap: 10px;

				.tactical-map-container {
					overflow: hidden;
				}
			}
		}
	}
}
