.data-loader {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 230, 230);
    overflow-y: scroll;

    .data-loader-container {
        width: 380px;
        padding: 20px;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
	    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.12);

        .overall-state {
            display: flex;
            justify-content: center;

            svg {
                width: 75px;
                height: 75px;
            }
        }

        .header-text-panel {
            justify-content: center;
        }

        .load-states {
            margin: 0 auto 10px;
        }

        .ant-alert-error {
            margin-bottom: 10px;
        }
    }
}

html[data-theme="dark"] {
	.data-loader {
        background-color: rgb(100, 100, 100);

        .data-loader-container {
            background-color: rgb(55, 55, 55);
        }
	}
}
