.grid-square-panel {
	position: absolute;
	cursor: pointer;

	&.selectable {
		&:hover,
		&.selected {
			border-color: rgb(64, 150, 255);
			background-color: rgba(180, 220, 255, 0.2);
		}
	}

	&.cell {
		border: 0.1px solid rgba(0, 0, 0, 0.1);
	}

	&.fog {
		background-color: rgba(0, 0, 0, 0.5);

		&.player {
			background-color: rgb(0, 0, 0);
		}
	}
}
