.app-footer {
	flex: 0 0 50px;
	padding: 0 20px;
	background-color: rgb(200, 200, 200);
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 15px;

	.logo-icon {
		height: 18px;
		margin-bottom: -4px;
	}

	.navigation-buttons-panel {
		border-radius: 8px;
		background-color: white;
		padding: 2px;

		.ant-btn-text {
			&.selected {
				background-color: rgba(0, 0, 0, 0.04);
				font-weight: 600;
			}
		}

		.ant-divider-vertical {
			margin-inline: 1px;
		}
	}

	.action-buttons-panel {
		border-radius: 8px;
		background-color: white;
		padding: 2px;
		display: flex;
		align-items: center;
		gap: 2px;

		.ant-divider-vertical {
			margin-inline: 1px;
		}
	}
}

html[data-theme="dark"] {
	.app-footer {
		background-color: rgb(0, 0, 0);

		.navigation-buttons-panel,
		.action-buttons-panel {
			.ant-btn-text {
				color: rgba(0, 0, 0, 0.88);
			}
		}
	}
}
