.histogram-panel {
	display: flex;
	flex-direction: row;

	.bar-section {
		flex: 1 1 0;
		display: flex;
		flex-direction: column;
		padding: 5px 0;
		border-radius: 5px;
		overflow: hidden;

		&.selected {
			background-color: rgba(5, 5, 5, 0.06);
			font-weight: 600;
		}

		.bar {
			margin: 0 3px;
			background-color: rgb(180, 220, 255);
			border: 1px solid rgb(64, 150, 255);
			border-radius: 3px 3px 0 0;
		}

		.label {
			margin-top: -1px;
			border-top: 1px solid rgba(5, 5, 5, 0.06);
			padding-top: 5px;
			font-size: 10px;
			text-align: center;
		}
	}

	&.clickable {
		.bar-section {
			cursor: pointer;

			&:hover {
				background-color: rgb(180, 220, 255);
			}
		}
	}
}

@media (prefers-color-scheme: dark) {
	.histogram-panel {
		.bar-section {
			.label {
				border-color: rgba(250, 250, 250, 0.6);
				color: rgba(255, 255, 255, 0.88);
			}
		}

		&.clickable {
			.bar-section {
				cursor: pointer;
	
				&:hover {
					background-color: rgb(64, 150, 255);
				}
			}
		}
	}
}
