.hero-panel {
	padding: 10px 20px 20px 20px;
	border-radius: 10px;
	background-color: rgb(255, 255, 255);

	&.compact {
		margin-top: -10px;
		padding: unset;
	}

	.top-tile {
		padding: 0 10px;
		border-radius: 10px;

		&.clickable {
			cursor: pointer;

			&:hover {
				background-color: rgba(0, 0, 0, 0.06);
			}
		}

		.skill {
			padding: 1px 3px;
			border-radius: 5px;
			cursor: pointer;

			&:hover {
				background-color: rgba(0, 0, 0, 0.06);
			}
		}
	}

	.characteristics-row {
		display: flex;
		align-items: flex-start;
		justify-content: space-evenly;
		border: 1px solid rgb(22, 119, 255);
		border-radius: 10px;
		background-color: rgb(180, 220, 255);
		padding: 10px;

		&.clickable {
			cursor: pointer;

			&:hover {
				background-color: rgb(125, 180, 255);
			}
		}

		.characteristic {
			flex: 1 1 0;
		}
	}
}

@media (prefers-color-scheme: dark) {
	.hero-panel {
		background-color: rgb(100, 100, 100);

		.top-tile {
			&.clickable {
				&:hover {
					background-color: rgba(255, 255, 255, 0.06);
				}
			}
		}
	}
}
