.hero-panel {
	padding: 0 20px 20px 20px;

	&.compact {
		margin-top: -10px;
		padding: unset;
	}

	.hero-main-section {
		display: flex;
		gap: 20px;

		.hero-left-column {
			flex: 0 0 200px;
			padding-right: 20px;
			border-right: 5px solid rgb(0, 0, 0, 0.06);
			display: flex;
			flex-direction: column;
			gap: 10px;

			.top-tile {
				padding: 0 10px 5px 10px;
				border-radius: 10px;

				&.clickable {
					cursor: pointer;

					&:hover {
						background-color: rgb(125, 180, 255);
					}
				}
			}
		}

		.hero-right-column {
			flex: 1 1 0;

			.characteristics-row {
				display: flex;
				align-items: flex-start;
				justify-content: space-evenly;
				gap: 5px;
				border: 1px solid rgb(200, 200, 200);
				border-radius: 10px;
				background-color: rgb(255, 255, 255);
				padding: 10px;

				&.clickable {
					cursor: pointer;

					&:hover {
						background-color: rgb(125, 180, 255);
					}
				}

				.characteristic {
					flex: 1 1 0;
					border-radius: 10px;
					padding: 5px 0;

					&.clickable {
						cursor: pointer;
	
						&:hover {
							background-color: rgb(125, 180, 255);
						}
					}
				}
			}
		}
	}
}

@media (prefers-color-scheme: dark) {
	.hero-panel {
		.hero-main-section {
			.hero-left-column {
				border-right-color: rgba(250, 250, 250, 0.6);
			}

			.hero-right-column {
				.characteristics-row {
					border-color: rgb(200, 200, 200);
					background-color: rgb(0, 0, 0);
				}
			}
		}
	}
}
