.hero-panel {
	padding: 0 10px;

	.characteristics-row {
		display: flex;
		align-items: flex-start;
		justify-content: space-evenly;
		border: 1px solid rgb(230, 230, 230);
		border-radius: 10px;
		background-color: rgb(245, 245, 245);
		padding: 10px;

		.characteristic {
			flex: 1 1 0;
		}
	}
}
