.about-modal {
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;

	.logo-container {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
		margin: 0 0 10px 0;

		>img {
			height: 50px;
		}
	}
}

html[data-theme="dark"] {
	.about-modal {
		.logo-container {
			>img {
				filter: invert(1);
			}
		}
	}
}
