.about-modal {
	padding: 20px;

	.logo-container {
		display: flex;
		align-items: center;
		justify-content: center;

		>img {
			height: 50px;
		}
	}
}

@media (prefers-color-scheme: dark) {
	.about-modal {
		.logo-container {
			>img {
				filter: invert(1);
			}
		}
	}
}
