.clocktower-page {
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--fs-canvas);

	.clocktower-page-content {
		height: 100%;
		background-color: var(--fs-canvas);
		padding: 10px 40px 40px 40px;
		display: flex;
		flex-direction: column;
		gap: 10px;
		overflow-y: auto;
	}
}
