.hero-edit-page {
	height: 100%;
	display: flex;
	flex-direction: column;

	.hero-edit-page-content {
		background-color: rgba(0, 0, 0, 0.1);
		flex: 1 1 0;
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 20px;

		.page-selector {
			flex: 0 0 auto;

			.page-button {
				margin: 5px 0;

				.page-button-title,
				.page-button-subtitle {
					line-height: 20px;
				}

				.page-button-title {
					color: rgb(80, 80, 80);
					font-weight: 600;
				}

				.page-button-subtitle {
					color: rgb(160, 160, 160);
					font-size: 10px;
				}
			}
		}

		.hero-edit-content {
			flex: 1 1 0;
			display: flex;
			gap: 20px;
			overflow: hidden;

			.hero-edit-content-column {
				background-color: rgb(245, 245, 245);
				border-radius: 10px;
				padding: 10px;
				flex: 1 1 0;
				display: flex;
				flex-direction: column;
				gap: 10px;
				overflow-x: hidden;
				overflow-y: auto;

				.characteristic-row {
					display: flex;
					gap: 10px;

					.characteristic-item {
						flex: 1 1 0;
						display: flex;
						flex-direction: column;
						align-items: center;
					}
				}

				.random-btn {
					color: rgba(0, 0, 0, 0.88);
				}
			}
		}
	}
}

@media (prefers-color-scheme: dark) {
	.hero-edit-page {
		.hero-edit-page-content {
			.hero-edit-content {
				.hero-edit-content-column {
					background-color: rgb(10, 10, 10);

					.random-btn {
						color: rgba(255, 255, 255, 0.88);
					}
				}
			}
		}
	}
}
