.selectable-panel {
	position: relative;
	width: 100%;
	border: 1px solid rgba(5, 5, 5, 0.06);
	background: rgb(255, 255, 255);
	border-radius: 10px;
	padding: 10px 20px 15px 20px;

	&.selectable {
		cursor: pointer;

		&:hover {
			filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
		}
	}

	.unselect-button {
		position: absolute;
		top: 25px;
		right: 40px;
	}
}

@media (prefers-color-scheme: dark) {
	.selectable-panel {
		border: 1px solid rgba(250, 250, 250, 0.6);
		background-color: rgb(55, 55, 55);
	
		&.selectable {
			&:hover {
				filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.5));
			}
		}
	}
}
