.selectable-panel {
	border: 1px solid rgba(5, 5, 5, 0.06);
	background: rgb(255, 255, 255);
	border-radius: 10px;
	padding: 10px 20px 15px 20px;

	&.selectable {
		cursor: pointer;

		&:hover {
			filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
		}
	}
}
