.selectable-panel {
	position: relative;
	width: 100%;
	border: 1px solid rgba(5, 5, 5, 0.3);
	background: linear-gradient(rgb(255, 255, 255), rgb(250, 250, 250));
	border-radius: 10px;
	padding: 10px 20px 20px 20px;
	display: flex;
	flex-direction: column;

	&.selectable {
		cursor: pointer;
	}

	&.selectable:hover,
	&.selected {
		border-color: rgb(22, 119, 255);
		background: rgb(180, 220, 255);
	}

	&.shadow {
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	}

	.action-button {
		position: absolute;
		top: 25px;
		right: 40px;
	}
}

@media (prefers-color-scheme: dark) {
	.selectable-panel {
		border: 1px solid rgba(250, 250, 250, 0.6);
		background: linear-gradient(rgb(25, 25, 25), rgb(0, 0, 0));
	
		&.selectable:hover,
		&.selected {
			background: rgb(60, 60, 60);
		}
	}
}
