.customize-panel {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-bottom: 20px;
}

.customize-option-section {
	width: 410px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 10px;
}
