@use '../../../pages/heroes/hero-sheet/common.scss';

.feature {
    background: transparent;

    .feature-line,
    .feature-title,
    .feature-iteration {
        &, & * {
            @include common.font-slab();

            strong {
                font-weight: 500;
            }
        }
    }

    .feature-line,
    .feature-title,
    .feature-title span {
        color: var(--color-text);
        line-height: 19px;
        font-size: 17px;
        margin-bottom: 2px;
        font-weight: 500;

        img {
            width: 15px;
            height: 15px;
            opacity: 0.7;
            margin-right: 5px;
        }
    }

    .feature-title {
        span, img {
            display: inline-block;
            vertical-align: middle;
        }

        .type {
            float: right;
            font-weight: 350;
        }
    }

    .feature-title {
        span, img {
            display: inline-block;
            vertical-align: middle;
        }

        .type {
            float: right;
            font-weight: 350;
        }
    }

    .feature-line {
        line-height: 16px;
        font-size: 15px;
    }

    .feature-description,
    .feature-description * {
        @include common.font-serif;
        color: var(--color-text-lighter);
        font-size: 15px;
        line-height: 18px;
        font-weight: 400;
        margin-bottom: 10px;
        margin-top: 5px;

        p > em {
            display: block;
            margin-top: -5px;
            font-size: 1rem;
            font-weight: 350;
        }

        blockquote, blockquote * {
            font-style: italic;
        }

        .potency {
            @include common.font-potency();
            display: inline-block;
            transform: translateY(1px);
        }
    }

    ul.feature-description {
        margin-left: 20px;
        padding-top: 3px;
        li {
            margin-bottom: 3px;
        }
    }

    &:has(.feature-iteration) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 3px 0;
        margin-top: 2px;
        margin-bottom: 2px;

        .feature-title {
            flex-grow: 1;
            width: 100%;
        }

        .flex-break {
            flex-basis: 100%;
            width: 0;
        }
        .feature-description {
            margin-bottom: 0;
        }

        // .feature-line,
        .feature-iteration {
            text-wrap: nowrap;
        }
    }

    .feature-iteration {
        margin-left: 10px;
        border: 1px solid common.$color-light;
        background: common.$color-extra-light;
        border-radius: 3px;
        padding: 0 3px 1px;
        opacity: 0.8;
        
        line-height: 17px;
        font-size: 14px;

        &.no-selection {
            @include common.font-serif;
            font-style: italic;
        }
    }

    table, th, td {
        border: 0;
    }
    th {
        font-weight: 450;
        border-bottom: 1px solid common.$color-light;
    }
}

li .feature ul.feature-description {
    margin-left: 5px;
}

.feature-reference .feature .feature-description table td:first-child {
    text-wrap: nowrap;
    vertical-align: text-top;

    img {
        width: 50px;
        height: 18px;
        margin: 1px 0;
    }
}

.hero-sheet.color .feature {
    .type {
        font-weight: 380;
        &.main-action {
            color: common.$color-main-action;
        }
        &.triggered-action,
        &.free-triggered-action {
            color: common.$color-triggered-action;
        }
        &.maneuver,
        &.free-maneuver {
            color: common.$color-maneuver;
        }
        &.performance {
            color: common.$color-performance;
        }
        &.move {
            color: common.$color-move;
        }
    }
}
