@use '../../../pages/heroes/hero-sheet/common.scss';

.feature {

    .feature-line,
    .feature-title,
    .feature-iteration {
        &, & * {
            @include common.font-slab();

            strong {
                font-weight: 500;
            }
        }
    }

    .feature-line,
    .feature-title {
        line-height: 1.4rem;
        font-size: 1.2rem;
        margin-bottom: 2px;
        font-weight: 500;

        img {
            width: 15px;
            height: 15px;
            opacity: 0.7;
            margin-right: 5px;
        }
    }

    .feature-line {
        line-height: 1.2rem;
        font-size: 1.1rem;
    }

    .feature-description,
    .feature-description * {
        @include common.font-serif;
        font-size: 1.1rem;
        line-height: 1.3rem;
        font-weight: 400;
        margin-bottom: 10px;
        margin-top: 5px;

        p > em {
            display: block;
        }

        blockquote, blockquote * {
            font-style: italic;
        }
    }

    ul.feature-description {
        margin-left: 20px;
        padding-top: 3px;
        li {
            margin-bottom: 3px;
        }
    }

    &:has(.feature-iteration) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 3px 0;

        .feature-title {
            flex-grow: 1;
            width: 100%;
        }

        .flex-break {
            flex-basis: 100%;
            width: 0;
        }
        .feature-description {
            margin-bottom: 0;
        }

        .feature-line,
        .feature-iteration {
            text-wrap: nowrap;
        }

        margin-bottom: 3px;
    }

    .feature-iteration {
        margin-left: 10px;
        border: 1px solid common.$color-light;
        background: common.$color-extra-light;
        border-radius: 3px;
        padding: 0 3px 1px;
        opacity: 0.8;
        
        line-height: 1.2rem;
        font-size: 1.0rem;
    }
}

li .feature ul.feature-description {
    margin-left: 5px;
}

.feature-reference .feature .feature-description table td:first-child {
    text-wrap: nowrap;
    vertical-align: text-top;

    img {
        width: 50px;
        height: 18px;
        margin: 1px 0;
    }
}