@use '../../../pages/heroes/hero-sheet/common.scss';

.font-test:not(.make):not(.sure):not(.this):not(.has):not(.highest):not(.priority) {
    padding: 5px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;

    .serif * {
        @include common.font-serif;
    }
    .serif-alt * {
        @include common.font-serif-alt;
    }
    .slab * {
        @include common.font-slab;
    }

    .test-text {
        padding: 3px 0;
        text-wrap: nowrap;
        overflow-x: hidden;
        width: 500px;
    }
}