.feature-panel {
	.container {
		border-left: 5px solid rgba(5, 5, 5, 0.06);
		padding: 0 0 5px 10px;
	}
}

html[data-theme="dark"] {
	.feature-panel {
		.container {
			border-color: rgba(250, 250, 250, 0.6);
		}
	}
}
