.hero-panel {
	height: 100%;

	&.compact {
		margin-top: -10px;
		padding: 0 20px 20px 20px;
		padding: unset;
	}

	.page-button-title {
		font-size: 12px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.hero-main-section {
		height: 100%;
		display: flex;
		flex-direction: row;
		gap: 10px;

		.hero-left-column,
		.hero-right-column {
			flex: 0 0 200px;
			display: flex;
			flex-direction: column;
			overflow-y: auto;

			&.full-width {
				flex: 1 1 0;
			}

			.overview-tile {
				padding: 0 10px 10px 10px;
				border-radius: 10px;

				&.clickable {
					cursor: pointer;

					&:hover {
						background-color: rgb(180, 220, 255);
					}
				}
			}

			.damage-modifier {
				display: flex;
				justify-content: space-between;
			}
		}

		.hero-center-column {
			flex: 1 1 0;
			display: flex;
			flex-direction: column;
			gap: 10px;

			.center-top {
				flex: 0 0 auto;
			}

			.center-content {
				flex: 1 1 0;
				padding: 10px;
				overflow-y: auto;
			}

			.stats-box {
				border: 1px solid rgb(200, 200, 200);
				border-radius: 20px;
				background-color: rgb(255, 255, 255);
				padding: 10px;
				box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);

				&.clickable {
					cursor: pointer;

					&:hover {
						background-color: rgb(180, 220, 255);

						.ant-statistic {
							.ant-statistic-title,
							.ant-statistic-content {
								color: rgba(0, 0, 0, 0.88);
							}
						}
					}
				}

				.stats {
					display: flex;
					align-items: flex-start;
					justify-content: space-evenly;
					gap: 5px;

					.stat {
						flex: 1 1 0;
						border-radius: 10px;
						padding: 5px 0;

						&.clickable {
							cursor: pointer;

							&:hover {
								background-color: rgb(180, 220, 255);

								.ant-statistic {
									.ant-statistic-title,
									.ant-statistic-content {
										color: rgba(0, 0, 0, 0.88);
									}
								}
							}
						}
					}
				}

				.stats-box-caption {
					margin-top: 5px;
					border-top: 1px solid rgba(0, 0, 0, 0.1);
					padding-top: 10px;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 10px;
					font-weight: 600;
					text-transform: uppercase;
					letter-spacing: 2px;
					opacity: 0.5;
				}
			}

			.conditions-grid {
				display: flex;
				flex-direction: column;
				gap: 10px;

				.condition-tile {
					border: 1px solid rgb(200, 200, 200);
					border-radius: 20px;
					background-color: rgb(255, 255, 255);
					padding: 5px 20px 10px 20px;
					box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
					cursor: pointer;

					&:hover {
						background-color: rgb(180, 220, 255);
					}
				}
			}

			.abilities-grid {
				display: grid;
				gap: 10px;

				&.narrow {
					grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
				}
				&.medium {
					grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
				}
				&.wide {
					grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
				}
				&.extra-wide {
					grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
				}
			}
		}
	}
}

@media (prefers-color-scheme: dark) {
	.hero-panel {
		.hero-main-section {
			.hero-center-column {
				.stats-box {
					border-color: rgb(200, 200, 200);
					background-color: rgb(0, 0, 0);

					&.clickable {
						&:hover {
							.ant-statistic {
								.ant-statistic-title,
								.ant-statistic-content {
									color: rgba(0, 0, 0, 0.88);
								}
							}
						}
					}
	
					.stats {
						.stat {
							&.clickable {
								&:hover {
									.ant-statistic {
										.ant-statistic-title,
										.ant-statistic-content {
											color: rgba(0, 0, 0, 0.88);
										}
									}
								}
							}
						}
					}
				}

				.conditions-grid {
					.condition-tile {
						border-color: rgb(200, 200, 200);
						background-color: rgb(0, 0, 0);
	
						&:hover {
							.header-text-panel {
								.header-text {
									color: rgba(0, 0, 0, 0.88);
								}
							}

							.ds-text {
								color: rgba(0, 0, 0, 0.88);
							}
						}
					}
				}
			}
		}
	}
}
