.hero-panel {
	height: 100%;

	&.compact {
		margin-top: -10px;
		padding: 0 20px 20px 20px;
		padding: unset;
	}

	.page-button-title {
		font-size: 12px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.hero-main-section {
		height: 100%;
		display: flex;
		flex-direction: row;
		gap: 10px;

		.hero-sidebar {
			&.column {
				flex: 0 0 250px;
				overflow-y: auto;
				display: flex;
				flex-direction: column;
				gap: 10px;
			}

			&.grid {
				flex: 1 1 0;
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
				gap: 10px;
			}

			&.list {
				flex: 1 1 0;
				display: block;
				padding: 0 5px;
			}

			.damage-modifier {
				display: flex;
				justify-content: space-between;
			}
		}

		.hero-center-column {
			flex: 1 1 0;
			display: flex;
			flex-direction: column;
			gap: 10px;

			.center-top {
				flex: 0 0 auto;
			}

			.center-content {
				flex: 1 1 0;
				overflow-x: hidden;
				overflow-y: auto;
			}

			.stats-section {
				padding: 0 5px;

				.stats-box {
					border: 1px solid rgb(200, 200, 200);
					border-radius: 20px;
					background-color: rgb(255, 255, 255);
					padding: 10px;
					box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);

					&.clickable {
						cursor: pointer;

						&:hover {
							border-color: rgb(22, 119, 255);
							background-color: rgb(230, 244, 255);

							.ant-statistic {
								.ant-statistic-title,
								.ant-statistic-content {
									color: rgba(0, 0, 0, 0.88);
								}
							}
						}
					}

					.stats {
						display: flex;
						align-items: flex-start;
						justify-content: space-evenly;
						gap: 5px;

						.stat {
							flex: 1 1 0;
							border: 1px solid transparent;
							border-radius: 10px;
							padding: 5px 0;

							&.clickable {
								cursor: pointer;

								&:hover {
									border-color: rgb(22, 119, 255);
									background-color: rgb(230, 244, 255);

									.ant-statistic {
										.ant-statistic-title,
										.ant-statistic-content {
											color: rgba(0, 0, 0, 0.88);
										}
									}
								}
							}
						}
					}

					.stats-box-caption {
						margin-top: 5px;
						border-top: 1px solid rgb(230, 230, 230);
						padding-top: 10px;
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 10px;
						font-weight: 600;
						text-transform: uppercase;
						letter-spacing: 2px;
						opacity: 0.5;
					}
				}
			}

			.choices-section {
				margin: 20px 0;
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
				gap: 10px;

				&.compact {
					display: block;
					padding: 0 5px;
				}
			}

			.features-section {
				padding: 5px;

				.features-grid {
					display: flex;
					flex-direction: column;
					gap: 10px;

					&.compact {
						display: block;
					}
				}
			}

			.abilities-section {
				padding: 5px;

				.abilities-grid {
					display: grid;
					gap: 10px;

					&.compact {
						display: block;
					}

					&.narrow {
						grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
					}
					&.medium {
						grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
					}
					&.wide {
						grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
					}
					&.extra-wide {
						grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
					}
				}
			}
		}

		.overview-tile {
			padding: 0 10px 10px 10px;
			border: 1px solid transparent;
			border-radius: 10px;

			&.danger {
				border-color: red;
				background-color: rgba(255, 0, 0, 0.2);
			}

			&.warning {
				border-color: orange;
				background-color: rgba(255, 166, 0, 0.2);
			}

			&.clickable {
				cursor: pointer;

				&:hover {
					border-color: rgb(22, 119, 255);
					background-color: rgb(230, 244, 255);
				}
			}
		}

		.selectable-row {
			margin: 3px 0;
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 10px;
			border: 1px solid rgba(0, 0, 0, 0.25);
			border-radius: 5px;
			background-color: rgb(255, 255, 255);
			padding: 10px;

			&.danger {
				border-color: red;
				background-color: rgba(255, 0, 0, 0.2);
			}

			&.warning {
				border-color: orange;
				background-color: rgba(255, 166, 0, 0.2);
			}

			&.clickable {
				cursor: pointer;

				&:hover {
					border-color: rgb(22, 119, 255);
					background-color: rgb(230, 244, 255);
				}
			}
		}
	}
}

@media (prefers-color-scheme: dark) {
	.hero-panel {
		.hero-main-section {
			.hero-center-column {

				.stats-box {
					border-color: rgb(200, 200, 200);
					background-color: rgb(0, 0, 0) !important;

					&.clickable {
						&:hover {
							background-color: rgb(22, 119, 255) !important;

							.ant-statistic {
								.ant-statistic-title,
								.ant-statistic-content {
									color: rgba(255, 255, 255, 0.88) !important;
								}
							}

							.stats-box-caption {
								color: rgba(255, 255, 255, 0.88);
							}
						}
					}
	
					.stats {
						.stat {
							&.clickable {
								&:hover {
									background-color: rgb(22, 119, 255) !important;

									.ant-statistic {
										.ant-statistic-title,
										.ant-statistic-content {
											color: rgba(255, 255, 255, 0.88) !important;
										}
									}
								}
							}
						}
					}
				}
			}

			.overview-tile {
				&.clickable {
					&:hover {
						background-color: rgb(22, 119, 255);
					}
				}
			}

			.selectable-row {
				background-color: black;

				&.clickable {
					&:hover {
						background-color: rgb(22, 119, 255);
					}
				}
			}
		}
	}
}
