.hero-panel {
	height: 100%;

	&.compact {
		margin-top: -10px;
		padding: 0 20px 20px 20px;
		padding: unset;
	}

	.page-button-title {
		font-size: 12px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.hero-main-section {
		height: 100%;
		display: flex;
		flex-direction: row;
		gap: 10px;

		.hero-sidebar {
			&.column {
				flex: 0 0 250px;
				overflow-y: auto;
				display: flex;
				flex-direction: column;
				gap: 10px;
			}

			&.grid {
				flex: 1 1 0;
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
				gap: 10px;
			}

			&.list {
				flex: 1 1 0;
				display: block;
				padding: 0 5px;
			}

			.damage-modifier {
				display: flex;
				justify-content: space-between;
			}
		}

		.hero-center-column {
			flex: 1 1 0;
			display: flex;
			flex-direction: column;
			gap: 10px;

			.center-top {
				flex: 0 0 auto;
			}

			.center-content {
				flex: 1 1 0;
				overflow-x: hidden;
				overflow-y: auto;
			}

			.stats-section {
				padding: 5px;
				display: flex;
				flex-direction: column;
			}

			.choices-section {
				margin: 20px 0;
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
				gap: 10px;

				&.compact {
					padding: 5px;
					display: flex;
					flex-direction: column;
					gap: 0;
				}
			}

			.features-section {
				padding: 5px;

				.features-grid {
					display: flex;
					flex-direction: column;
					gap: 10px;

					&.compact {
						display: block;
					}
				}
			}

			.abilities-section,
			.retinue-section {
				padding: 5px;

				.abilities-grid,
				.retinue-grid {
					display: grid;
					gap: 10px;

					&.compact {
						display: block;
					}

					&.narrow {
						grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
					}
					&.medium {
						grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
					}
					&.wide {
						grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
					}
					&.extra-wide {
						grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
					}
				}
			}
		}

		.overview-tile {
			padding: 0 10px 10px 10px;
			border: 1px solid transparent;
			border-radius: 10px;

			&.danger {
				border-color: red;
				background-color: rgba(255, 0, 0, 0.2);
			}

			&.warning {
				border-color: orange;
				background-color: rgba(255, 166, 0, 0.2);
			}

			&.clickable {
				cursor: pointer;

				&:hover {
					border-color: rgb(22, 119, 255);
					background-color: rgb(230, 244, 255);
				}
			}
		}

		.selectable-row {
			margin: 3px 0;
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 10px;
			border: 1px solid rgba(5, 5, 5, 0.06);
			border-radius: 5px;
			background: linear-gradient(rgb(255, 255, 255), rgb(250, 250, 250));
			padding: 10px;
			box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.12);

			&.danger {
				border-color: red;
				background: rgba(255, 0, 0, 0.2);
			}

			&.warning {
				border-color: orange;
				background: rgba(255, 166, 0, 0.2);
			}

			&.clickable {
				cursor: pointer;

				&:hover {
					border-color: rgb(22, 119, 255);
					background: rgb(230, 244, 255);
				}
			}
		}
	}
}

html[data-theme="dark"] {
	.hero-panel {
		.hero-main-section {
			.overview-tile {
				&.clickable {
					&:hover {
						background-color: rgba(22, 119, 255, 0.2);
					}
				}
			}

			.selectable-row {
				border-color: rgba(250, 250, 250, 0.6);
				background: linear-gradient(rgb(25, 25, 25), rgb(0, 0, 0));

				&.clickable {
					&:hover {
						background: linear-gradient(rgb(25, 25, 25), rgb(0, 0, 0));
					}
				}
			}
		}
	}
}
