.element-sheet {
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	padding: 20px 40px;
	column-rule: 1px solid rgba(5, 5, 5, 0.06);
	column-gap: 40px;
	column-fill: auto;
	overflow: hidden;

	&.letter.portrait {
		width: 1275px; // ~150dpi
		height: 1650px;
		column-width: calc((1275px - 120px) / 2);
	}

	&.letter.landscape {
		width: 1650px; // ~150dpi
		height: 1275px;
		column-width: calc((1650px - 120px) / 3);
	}

	&.a4.portrait {
		width: 1240px; // ~150dpi
		height: 1754px;
		column-width: calc((1240px - 120px) / 2);
	}

	&.a4.landscape {
		width: 1754px; // ~150dpi
		height: 1240px;
		column-width: calc((1754px - 120px) / 3);
	}
}

html[data-theme="dark"] {
	.element-sheet {
		background-color: rgb(0, 0, 0);
	}
}
