.element-sheet {
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	padding: 20px;
	column-rule: 1px solid rgba(5, 5, 5, 0.06);
	column-gap: 40px;
	column-fill: auto;
	overflow: hidden;

	&.portrait {
		column-count: 2;
	}

	&.landscape {
		column-count: 3;
	}

	&.letter.portrait {
		aspect-ratio: 8.5 / 11;
		width: 1275px; // ~150dpi
		height: 1650px;
		max-width: 1275px;
		max-height: 1650px;
	}

	&.letter.landscape {
		aspect-ratio: 11 / 8.5;
		width: 1650px; // ~150dpi
		height: 1275px;
		max-width: 1650px;
		max-height: 1275px;
	}

	&.a4.portrait {
		aspect-ratio: 1 / 1.41;
		width: 1240px; // ~150dpi
		height: 1754px;
		max-width: 1240px;
		max-height: 1754px;
	}

	&.a4.landscape {
		aspect-ratio: 1.41 / 1;
		width: 1754px; // ~150dpi
		height: 1240px;
		max-width: 1754px;
		max-height: 1240px;
	}
}
