.encounter-edit-panel {
	display: flex;
	flex-direction: row;
	gap: 20px;
	overflow: hidden;

	.encounter-workspace-column {
		flex: 1 1 0;
		overflow-y: auto;

		.encounter-group-panel,
		.encounter-terrain-panel {
			display: flex;
			flex-direction: column;
			gap: 8px;

			.slot-row,
			.terrain-row {
				margin: 0 5px;
				border: 1px solid rgb(220, 220, 220);
				border-radius: 10px;
				background-color: rgba(255, 255, 255);
				padding: 10px;
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 10px;
				box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.12);

				.content {
					flex: 1 1 0;
					border-right: 1px solid rgb(220, 220, 220);
					padding-right: 10px;
				}

				.actions {
					flex: 0 0 120px;
				}
			}
		}
	}

	.encounter-list-column {
		flex: 1 1 0;
		overflow-y: auto;
		padding: 0 5px;

		.monster-row,
		.terrain-row {
			border: 1px solid rgb(220, 220, 220);
			border-radius: 10px;
			background-color: rgba(255, 255, 255);
			padding: 5px 10px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;

			.combatant-button-content {
				flex: 1 1 0;
			}

			.add-btn {
				border: none;
			}

			&:hover {
				background-color: rgba(0, 0, 0, 0.05);
			}
		}
	}
}

html[data-theme="dark"] {
	.encounter-edit-panel {
		.encounter-workspace-column {
			.group-row,
			.terrain-container-row {
				.slot-row,
				.terrain-row {
					background-color: rgba(0, 0, 0);
					color: rgba(255, 255, 255, 0.88);
				}
			}
		}

		.encounter-list-column {
			.filter-button {
				color: rgba(255, 255, 255, 0.88);
			}

			.monster-row,
			.terrain-row {
				background-color: rgba(0, 0, 0);
				color: rgba(255, 255, 255, 0.88);
			}
		}
	}
}
