@use '../../../pages/heroes/hero-sheet/common.scss';

#hero-sheet-page .hero-sheet .inventory.card {
    // @include common.striped-card;

    display: grid;
    grid-template-rows: min-content 1fr;
    place-items: stretch;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            break-inside: avoid-column;
        }
    }

    &.wide ul {
        column-count: 2;
        column-gap: 25px;

        background-image: linear-gradient(0deg, common.$color-light, common.$color-light);
        background-size: 2px 100%;
        background-position: 50% 4px;
        background-repeat: no-repeat;
    }

    .item {
        margin-bottom: 15px;

        h3:not(#priority) {
            text-align: left;
            text-transform: none;
            padding-bottom: 2px;
            margin-bottom: 3px;
            color: var(--color-text);
            font-weight: 450;

            background-image: linear-gradient(90deg, common.$color-medium 50%, transparent);
            background-size: 100% 1px;
            background-position: left bottom;
            background-repeat: no-repeat;
        }

        .item-effect * {
            line-height: 18px;
            font-size: 15px;
            margin-bottom: 10px;
            margin-top: 5px;
        }

        .keywords-item-type {
            display: flex;
            justify-content: space-between;
        }

        .keywords,
        .item-type,
        .item-effect strong {
            @include common.font-slab;
            font-weight: 400;

            & strong {
                font-weight: 450;
            }
        }

        .item-features .feature-line {
            font-weight: 400;
        }
    }
}