@use '../../../pages/classic-sheet/common.scss';

.hero-sheet .immunities-weaknesses.card {
    display: grid;
    grid-template-columns: 1fr 1fr;

    h4 {
        margin-bottom: 5px;
        font-weight: 450;
        &:not(:first-child) {
            margin-top: 5px;
        }
    }

    em {
        @include common.font-serif();
        display: block;
        text-align: center;
        margin: -4px -4px 4px;
    }

    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px 7px;
        margin: -4px -4px 4px;
        padding: 0;

        li {
            border: 1px solid common.$color-light;
            background: common.$color-extra-light;
            border-radius: 3px;
            padding: 1px 3px;
            opacity: 0.9;
        }
    }
}