@use '../../../pages/classic-sheet/common.scss';

.hero-sheet .immunities-weaknesses.card {
    padding-left: 10px;
    padding-right: 10px;

    h4 {
        margin-bottom: 5px;
        font-weight: 450;
        &:not(:first-child) {
            margin-top: 5px;
        }
    }

    em {
        @include common.font-serif();
        display: block;
        text-align: center;
    }

    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px 7px;
        margin: 0;
        padding: 0;

        li {
            border: 1px solid common.$color-light;
            background: common.$color-extra-light;
            border-radius: 3px;
            padding: 1px 3px;
            opacity: 0.8;
        }
    }
}