.hero-sheet .feature-reference.card {
    // background-image: linear-gradient(180deg, transparent 17px, #ccc 17px, #ccc 18px, #eee 18px, #eee 35px, #ccc 35px);
    // background-size: 100% 36px;
    // background-position: center top;
    // background-repeat: repeat-y;

    h3 {
        text-align: left;
        text-decoration: underline;
        margin-bottom: 5px;

        &:not(:first-of-type) {
            margin-top: 5px;
        }
    }
    li li {
        list-style-type: disc;
    }

    &.wide {
        display: grid;
        grid-template-rows: min-content 1fr;
        place-items: stretch;
    }
}