.hero-sheet .feature-reference.card {
    // --l1: round(up, calc(1rem + 4px), 1px);
    // --ld: calc(var(--l1) + 1px);
    // --l2: round(up, calc(2 * var(--l1)), 1px);
    // background-image: linear-gradient(180deg, transparent var(--l1), #ccc var(--l1), #ccc var(--ld), #eee var(--ld), #eee var(--l2), #ccc var(--l2));
    // background-size: 100% calc(var(--l2) + 1px);
    // background-position: center top;
    // background-repeat: repeat-y;

    h3 {
        text-align: left;
        text-decoration: underline;
        margin-bottom: 5px;

        &:not(:first-of-type) {
            margin-top: 5px;
        }
    }
    li li {
        list-style-type: disc;
    }

    &.wide {
        display: grid;
        grid-template-rows: min-content 1fr;
        place-items: stretch;
    }
}