.backup-page {
	height: 100%;
	display: flex;
	flex-direction: column;

	.backup-page-content {
		height: 100%;
		background-color: var(--fs-canvas);
		padding: 50px;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 10px;
		overflow-y: auto;
	}
}
