.tactical-map-toolbar {
	z-index: 10;
    position: sticky;
    left: 10px;
    width: calc(100% - 20px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.03);
	border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(5px);
	overflow-x: auto;

	&.top-toolbar {
		top: 10px;
	}

	&.bottom-toolbar {
		bottom: 10px;
	}
}

.tactical-map-panel {
	&.thumbnail {
		pointer-events: none;

		.grid {
			height: 100%;
		}
	}

	&.director-view,
	&.director-edit,
	&.player {
		overflow: auto;
	}

	&.director-edit {
		margin: 15px 0;
	}

	.grid {
		position: relative;
		margin: 0 auto;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
}
