.playbook-edit-page {
	height: 100%;
	display: flex;
	flex-direction: column;

	.playbook-edit-page-content {
		background-color: rgb(230, 230, 230);
		flex: 1 1 0;
		display: flex;
		gap: 20px;
		padding: 10px 20px 20px 20px;
		overflow: hidden;

		.edit-column {
			padding: 10px;
			flex: 1 1 0;
			overflow-x: hidden;
			overflow-y: auto;
			display: flex;
			flex-direction: column;
			gap: 10px;

			.adventure-container {
				overflow-y: hidden;
			}

			.tactical-map-container {
				overflow: auto;
			}
		}

		.preview-column {
			padding: 10px;
			flex: 1 1 0;
			overflow-x: hidden;
			overflow-y: auto;
			display: flex;
			flex-direction: column;
			gap: 10px;
		}
	}
}

@media (prefers-color-scheme: dark) {
	.playbook-edit-page {
		.playbook-edit-page-content {
			background-color: rgb(55, 55, 55);

			.edit-column {
				.random-btn {
					color: rgba(255, 255, 255, 0.88);
				}
			}
		}
	}
}
