.playbook-edit-page {
	height: 100%;
	display: flex;
	flex-direction: column;

	.playbook-edit-page-content {
		background-color: rgba(0, 0, 0, 0.1);
		flex: 1 1 0;
		display: flex;
		gap: 20px;
		padding: 10px 20px 20px 20px;
		overflow: hidden;

		.edit-column {
			padding: 10px;
			flex: 1 1 0;
			overflow-x: hidden;
			overflow-y: auto;
			display: flex;
			flex-direction: column;
			gap: 10px;

			.group-row,
			.terrain-container-row {
				display: flex;
				flex-direction: column;
				gap: 8px;

				.slot-row,
				.terrain-row {
					border: 1px solid rgb(220, 220, 220);
					border-radius: 10px;
					background-color: rgba(255, 255, 255);
					padding: 10px 20px 20px 20px;
					display: flex;
					flex-direction: row;
					gap: 20px;
	
					.content {
						flex: 1 1 0;
						border-right: 1px solid rgb(220, 220, 220);
						padding-right: 20px;
					}

					.actions {
						margin-top: 5px;
						flex: 0 0 130px;
						display: flex;
						flex-direction: column;
						gap: 5px;

						.ant-divider {
							margin: 4px 0 15px 0;
							border-block-start-width: 5px;
						}
					}
				}
			}

			.adventure-container {
				overflow-y: auto;
			}

			.tactical-map-container {
				overflow: auto;
			}
		}

		.preview-column {
			padding: 10px;
			flex: 1 1 0;
			overflow-x: hidden;
			overflow-y: auto;
			display: flex;
			flex-direction: column;
			gap: 10px;

			.monster-row,
			.terrain-row {
				border: 1px solid rgb(220, 220, 220);
				border-radius: 10px;
				background-color: rgba(255, 255, 255);
				padding: 10px 10px 10px 20px;
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 20px;

				.monster-panel,
				.terrain-panel {
					flex: 1 1 0;
				}

				.actions {
					flex: 0 0 130px;
					display: flex;
					flex-direction: column;
					gap: 5px;
				}
			}
		}
	}
}

@media (prefers-color-scheme: dark) {
	.playbook-edit-page {
		.playbook-edit-page-content {
			.edit-column {
				.random-btn {
					color: rgba(255, 255, 255, 0.88);
				}

				.group-row,
				.terrain-container-row {
					.slot-row,
					.terrain-row {
						background-color: rgba(0, 0, 0);
					}
				}
			}

			.preview-column {
				.monster-row,
				.terrain-row {
					background-color: rgba(0, 0, 0);
				}
			}
		}
	}
}
