.die-roll-panel {
	display: flex;
	flex-direction: column;
	gap: 20px;

	.result-row {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		gap: 10px;

		.ant-statistic {
			flex: 1 1 0;
			padding: 5px 0;

			&.total {
				font-weight: 600;
				border: 2px solid rgb(120, 120, 120);
				border-radius: 10px;
				background-color: rgba(0, 0, 0, 0.1);
			}
		}
	}
}

@media (prefers-color-scheme: dark) {
	.die-roll-panel {
		.result-row {
			.ant-statistic {
				&.total {
					background-color: rgba(255, 255, 255, 0.1);
				}
			}
		}
	}
}
