.field {
	margin: 10px 0;
	font-size: 14px;
	overflow-wrap: break-word;
	word-break: normal;

	&.disabled {
		opacity: 0.6;
		pointer-events: none;
	}

	.field-label {
		color: rgb(0, 0, 0);
		font-weight: 600;
		padding-right: 5px;
	}

	.field-value {
		color: rgba(0, 0, 0, 0.88);
	}
}

@media (prefers-color-scheme: dark) {
	.field {
		.field-label {
			color: rgb(255, 255, 255);
		}

		.field-value {
			color: rgba(255, 255, 255, 0.88);
		}
	}
}
