.field {
	margin: 10px 0;
	font-size: 14px;
	overflow-wrap: break-word;
	word-break: normal;

	&.horizontal {
		.field-label {
			padding-right: 5px;
			font-weight: 600;
		}	
	}

	&.vertical {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 5px;

		.field-label {
			font-size: 12px;
			text-align: center;
			opacity: 0.5;
		}

		.field-value {
			font-size: 15px;
			font-weight: 600;
			text-align: center;
		}
	}

	&.disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	&.danger {
		.field-label {
			color: rgb(140, 0, 0) !important;
		}

		.field-value {
			color: rgba(140, 0, 0, 0.88) !important;

			p {
				color: rgba(140, 0, 0, 0.88) !important;
			}
		}
	}

	&.highlight {
		margin: 0 -10px;
		padding: 10px;
		border: 1px solid rgba(5, 5, 5, 0.06);
		border-radius: 5px;
		background: linear-gradient(rgb(255, 255, 255), rgb(250, 250, 250));
	}

	.field-label {
		color: rgb(0, 0, 0);
	}

	.field-value {
		color: rgba(0, 0, 0, 0.88);

		p {
			display: inline;

			&:not(:nth-of-type(1)) {
				display: block;
			}
		}
	}
}

@media (prefers-color-scheme: dark) {
	.field {
		.field-label {
			color: rgb(255, 255, 255);
		}

		.field-value {
			color: rgba(255, 255, 255, 0.88);
		}

		&.highlight {
			border-color: rgba(250, 250, 250, 0.6);
			background: linear-gradient(rgb(25, 25, 25), rgb(0, 0, 0));
		}
	}
}
