.field {
	margin: 10px 0;
	font-size: 14px;
	overflow-wrap: break-word;
	word-break: normal;

	&.horizontal {
		.field-label {
			padding-right: 5px;
			font-weight: 600;
		}	
	}

	&.vertical {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 5px;

		.field-label {
			font-size: 12px;
			text-align: center;
		}

		.field-value {
			font-size: 15px;
			font-weight: 600;
			text-align: center;
		}
	}

	&.disabled {
		opacity: 0.6;
		pointer-events: none;
	}

	.field-label {
		color: rgb(0, 0, 0);
	}

	.field-value {
		color: rgba(0, 0, 0, 0.88);

		p {
			display: inline;

			&:not(:nth-of-type(1)) {
				display: block;
			}
		}
	}
}

@media (prefers-color-scheme: dark) {
	.field {
		.field-label {
			color: rgb(255, 255, 255);
		}

		.field-value {
			color: rgba(255, 255, 255, 0.88);
		}
	}
}
