.settings-modal {
	padding: 20px;

	.feature-flag {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
		border-radius: 5px;
		padding: 0 10px;

		&:hover {
			background-color: rgba(5, 5, 5, 0.06);
		}
	}
}
