.encounter-group {
	margin: 5px 0;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	gap: 2px;

	&.acted {
		.group-column,
		.encounter-slots {
			background-color: rgba(255, 255, 255, 0.4);
		}
	}

	&.defeated {
		.group-column,
		.encounter-slots {
			background-color: transparent;
		}

		.group-column {
			.group-name {
				opacity: 0.3;
				text-decoration: line-through;
			}
		}
	}

	.group-column,
	.encounter-slots {
		background-color: white;
	}

	.group-column {
		flex: 0 0 130px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 5px;
		border-radius: 5px 0 0 5px;
		padding: 5px;

		.group-name {
			margin: 0 5px;
			font-weight: 600;
		}
	}

	.encounter-slots {
		flex: 1 1 0;
		border-radius: 0 5px 5px 0;
		padding: 5px 5px 5px 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		.encounter-slot {
			display: flex;
			flex-direction: column;
			gap: 5px;

			.encounter-slot-row {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 10px;

				&.defeated {
					.name-column {
						text-decoration: line-through;
					}

					.name-column,
					.stamina-column,
					.conditions-column {
						opacity: 0.3;
					}
				}

				.name-column {
					flex: 0 0 250px;
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 6px;
				}

				.stamina-column {
					flex: 0 0 90px;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: flex-end;
					gap: 5px;
				}

				.conditions-column {
					flex: 1 1 0;
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 5px;
				}
			}

			.ant-divider-horizontal {
				margin: 5px 0;
			}
		}
	}

	.group-acted {
		flex: 0 0 auto;
	}
}

@media (prefers-color-scheme: dark) {
	.encounter-group {
		border-color: rgba(250, 250, 250, 0.6);

		&.acted {
			.group-column,
			.encounter-slots {
				background-color: rgba(255, 255, 255, 0.2);
			}
		}

		&.defeated {
			color: rgba(255, 255, 255, 0.88);

			.ant-btn {
				color: rgba(255, 255, 255, 0.88) !important;
			}
		}
	}
}
