.controlled-monsters-panel {
	display: flex;
	flex-direction: column;
	gap: 5px;

	.controlled-slot {
		padding: 5px 10px 10px 10px;
		border: 1px solid rgba(5, 5, 5, 0.06);
		border-radius: 10px;

		&:hover {
			border-color: rgb(22, 119, 255);
		}

		.controlled-monster {
			border-radius: 10px;
			background: linear-gradient(rgb(255, 255, 255), rgb(250, 250, 250));
			padding: 10px;
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 5px;
			cursor: pointer;

			&:hover {
				border-color: rgb(22, 119, 255);
				background: rgb(230, 244, 255);
			}
		}
	}
}

html[data-theme="dark"] {
	.controlled-monsters-panel {
		.controlled-slot {
			border-color: rgba(250, 250, 250, 0.6);

			.controlled-monster {
				background: linear-gradient(rgb(25, 25, 25), rgb(0, 0, 0));

				&:hover {
					background: rgba(22, 119, 255, 0.2);
				}
			}
		}
	}
}
