.markdown-editor {
	border: 1px solid #d9d9d9;
 	border-radius: 5px;
 	background: white;

	.markdown-editor-toolbar {
		border-radius: 5px 5px 0 0;
		background: #f5f5f5;
		border-bottom: 1px solid #d9d9d9;
	}
}
