.domain-panel {
	display: flex;
	flex-direction: column;
	padding: 0 20px 20px 20px;
	overflow: hidden;

	&.compact {
		margin-top: -10px;
		padding: unset;
	}

	.domain-features-list {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}
}
