.condition-add-menu {
	.conditions-grid {
		width: 400px;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
		gap: 10px;
	}

	.encounter-conditions {
		max-height: 300px;
		overflow-y: auto;
		display: flex;
		flex-direction: column;
		gap: 5px;
	}
}
