@use '../../../pages/classic-sheet/common.scss';

#classic-sheet .hero-sheet .modifiers.card {
    min-width: 470px;
    display: grid;
    grid-template-rows: repeat(4, max-content) 1fr;

    h2 {
        display: grid;
        grid-template-columns: 1fr round(4rem, 1px);
        justify-items: stretch;
        align-items: baseline;

        .title {
            @include common.font-slab;
            font-weight: inherit;
            transform: translateX(round(2rem, 1px));
        }
        .labeled-boolean {
            text-transform: none;
            float: right;
        }
    }

    .name {
        padding: 5px 0 0;
        margin-left: 0;
        margin-right: 0;

        &.labeled-field {
            label {
                font-weight: 450;
                top: -2px;
            }

            &>.labeled-field-content {
                @include common.border-beveled(10px, 2px, common.$color-medium);
                min-height: round(3rem, 1px);
            }
        }
    }

    .modifier-augmentations {
        border-bottom: 2px solid common.$color-light;
        padding-bottom: 10px;

        .proficiencies,
        .stats {
            margin-left: -3px;
            margin-right: -3px;

            label {
                font-size: round(1rem, 1px);
                color: var(--color-text-lighter);
                text-wrap: nowrap;
            }

            .labeled-field.no-content {
                opacity: 0.7;
            }
        }

        .proficiencies {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 5px;

            &.single {
                grid-template-columns: 1fr;
            }

            .labeled-field {
                margin-left: 0;
                margin-right: 0;

                .labeled-field-content span {
                    font-size: round(1.2rem, 1px);
                    line-height: round(1.8rem, 1px);
                }
            }
        }
    
        .stats {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            justify-content: space-between;
            place-items: stretch;

            .labeled-field {
                margin: 3px 0;

                .labeled-field-content span {
                    font-weight: 600;
                }
            }
        }
    }

    .effects {
        display: grid;
        grid-template-rows: min-content 1fr;

        h3, h4 {
            margin: 0;
        }
    }

    .damage-modifiers {
        display: flex;
        justify-content: space-around;
        align-content: stretch;

        border-bottom: 2px solid common.$color-light;
        margin-bottom: 5px;
    }

    .power-roll-damage-modifiers {
        display: grid;
        grid-template-rows: min-content 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: stretch;
        padding: 5px 0 10px;

        h4 {
            grid-column-end: span 3;
            text-align: center;
            text-wrap: nowrap;
        }

        .roll-tiers {
            grid-column-end: span 3;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            place-items: stretch;
            min-height: 50px;

            .tier {
                margin: 5px 0 0;
                padding: 0 3px;
                display: grid;
                grid-template-rows: 1fr min-content;
                place-items: center;

                &:not(:last-child) {
                    border-right: 2px solid common.$color-light;
                }

                .effect {
                    @include common.font-slab();
                    font-size: round(1.4rem, 1px);
                    padding-bottom: 5px;
                }

                .range {
                    width: 50px;
                    height: 26px;
                    opacity: 0.6;
                }
            }

        }

        .labeled-field{
            margin: 5px 0 0;
            &:not(:last-child) {
                border-right: 2px solid common.$color-light;
            }
        }
    }

    .benefits {
        padding: 0 5px;
        display: grid;
        grid-template-rows: min-content 1fr;

        h3 {
            @include common.divider-gradient-line-center;
            margin-bottom: 5px;
        }

        .features {
            justify-self: stretch;
            display: flex;
            flex-direction: column;
        }
    }
}