.modal {
	height: 100%;
	display: flex;
	flex-direction: column;

	.modal-toolbar {
		flex: 0 0 50px;
		padding: 0 12px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 10px;
		background-color: rgb(200, 200, 200);
	}

	.modal-content {
		flex: 1 1 0;
		overflow-y: auto;
		background-color: rgba(0, 0, 0, 0.1);
	}

	.modal-footer {
		flex: 0 0 50px;
		padding: 0 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		background-color: rgb(200, 200, 200);

		.close-btn {
			display: none;
		}
	}
}

@media (prefers-color-scheme: dark) {
	.modal {
		.modal-toolbar,
		.modal-footer {
			background-color: rgb(0, 0, 0);
		}
	}
}

@media only screen and (max-width: 1000px) {
	.modal {
		.modal-footer {
			.close-btn {
				display: block;
			}
		}
	}
}
