.hero-list-page {
	height: 100%;
	display: flex;
	flex-direction: column;

	.hero-list-page-content {
		flex: 1 1 0;
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto;
	}
}
