@use '../../classic-sheet/common.scss';
@use 'sass:color';

.hero-view-page .hero-view-page-content:has(.hero-sheet),
#pdf-preview {
    overflow-y: auto;
    background: common.$color-extra-light;
}

#pdf-canvas.hidden {
    display: none;
}

#pdf-preview {
    .menu {
        float: right;
        position: fixed;
        top: 10px;
        right: 10px;
        display: flex;
        padding: 5px;
        border-radius: 5px;
        background-color: #44444488;
        z-index: 999;
    }

    .all-careers,
    .all-complications {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .card {
            width: 428px;
            height: 506px;
        }
    }
}

.page {
    background: common.$color-extra-light;
}

#classic-sheet .hero-sheet {
    .page-1 {
        display: grid;
        align-items: stretch;
        justify-items: stretch;
        grid-template-rows: 248px 213px 102px min-content min-content 1fr;
        
        $last-col: 350px;
        grid-template-columns: 6fr 1fr calc(($last-col + 395px) - (100% / 3)) calc((100% / 3) - $last-col) $last-col;
    }

    .page-1.landscape {
        grid-template-rows: 248px 213px 102px min-content min-content 1fr;
        $last-col: 350px;
        grid-template-columns: 1fr min-content $last-col;

        .hero-header.card,
        .stats-resources.card {
            grid-column-end: span 2;
        }

        .conditions {
            grid-column-start: 3;
            grid-row-start: 1;
            grid-row-end: span 3;
        }

        .primary-reference {
            grid-row-start: 3;
            grid-row-end: span 3;
            grid-column-start: 1;
        }

        .potencies {
            grid-column-start: 2;
        }

        .immunities-weaknesses.card {
            grid-column-start: 2;
        }

        .ancestry-traits.card {
            grid-column-start: 3;
            grid-row-start: 4;
            grid-row-end: span 3;
        }
        .modifiers {
            grid-column-start: 2;
            grid-row-start: 5;
            grid-row-end: span 2;
        }
    
        .class-features.card {
            grid-row-start: 6;
            // grid-row-end: span 2;
        }
    
    }

    &.a4 .page-1.landscape {
        $last-col: 430px;
        grid-template-columns: 1fr min-content $last-col;
    }

    .page-1.portrait {
        .hero-header.card,
        .stats-resources.card {
            grid-column-end: span 5;
        }
        
        .modifiers {
            grid-column-end: span 2;
            grid-row-end: span 3;
        }
        
        .potencies {
            grid-column-end: span 2;
        }
        .conditions {
            grid-column-end: span 2;
            grid-column-start: 3;
            grid-row-start: 4;
            grid-row-end: span 2;
        }
           
        .primary-reference {
            grid-row-end: span 2;
        }
        .immunities-weaknesses.card {
            grid-column-start: 5;
        }
        .class-features.card {
            grid-column-end: span 3;
        }
        .ancestry-traits.card {
            grid-column-end: span 2;
        }
    }
    
    .page-2 {
        display: grid;
        grid-template-columns: 438px 1fr 365px;
        grid-template-rows: min-content 1fr 1fr 2fr 315px;
    }

    .page-2.portrait {
        .skills {
            grid-row-end: span 4;
        }

        .culture, .perks {
            grid-column-end: span 2;
        }

        .perks {
            grid-row-end: span 2;
        }

        .titles.card {
            grid-row-start: 5;
        }

        .projects.card {
            grid-column-start: 2;
            grid-column-end: span 2;
        }
    }

    .page-2.landscape {
        grid-template-rows: min-content 1fr 1fr min-content 315px;
        .career {
            grid-row-end: span 2;
            grid-column-start: 1;
        }

        .complication {
            grid-row-start: 3;
            grid-row-end: span 3;
            grid-column-start: 1;
        }

        .skills {
            grid-column-start: 3;
            grid-row-start: 1;
            grid-row-end: span 5;
        }

        .culture {
            grid-row-start: 1;
            grid-column-start: 2;
        }

        .perks {
            grid-row-end: span 2;
        }

        .projects.card {
            grid-row-start: 5;
        }
    }
}