@use './common.scss';
@use 'sass:color';


.hero-view-page .hero-view-page-content:has(.hero-sheet),
#pdf-preview {
    overflow-y: auto;
}
.main, main.hero-sheet {
    background: #d8d8d8 !important;
    height: 100%;
    font-size: 14px;
}

#pdf-preview {
    .menu {
        float: left;
        position: fixed;
        top: 10px;
        left: 10px;
        display: flex;
        padding: 5px;
        border-radius: 5px;
        background-color: #44444488;
        z-index: 999;
    }
}

.hidden {
    display:none;
}

.page {
    background: common.$color-extra-light;
}

.hero-sheet:not(#base-override) {
    label,
    h2, h3, h4, h5, h6 {
        @include common.font-slab();
        font-weight: 400;
    }
}

.hero-sheet:not(#base-override) {
    &, li, p {
        @include common.font-serif();
        font-weight: 300;
    }
}

.hero-sheet {
    &.letter.portrait .page {
        aspect-ratio: 8.5 / 11;
        width: 1275px; // ~150dpi
        height: 1650px;
        max-width: 1275px;
        max-height: 1650px;
    }

    &.letter.landscape .page {
        aspect-ratio: 11 / 8.5;
        width: 1650px; // ~150dpi
        height: 1275px;
        max-width: 1650px;
        max-height: 1275px;
    }

    &.a4.portrait .page {
        aspect-ratio: 1 / 1.41;
        width: 1240px; // ~150dpi
        height: 1754px;
        max-width: 1240px;
        max-height: 1754px;
    }
    
    &.a4.landscape .page {
        aspect-ratio: 1.41 / 1;
        width: 1754px; // ~150dpi
        height: 1240px;
        max-width: 1754px;
        max-height: 1240px;
    }

    .page-1 {
        display: grid;
        align-items: stretch;
        justify-items: stretch;
        grid-template-rows: 248px 213px 102px min-content min-content 1fr;// 213px 102px min-content
        
        $last-col: 350px;
        grid-template-columns: 6fr 1fr calc(($last-col + 395px) - (100% / 3)) calc((100% / 3) - $last-col) $last-col;
    }

    &.landscape .page-1 {
        grid-template-rows: 248px 213px 102px min-content min-content 1fr;
        $last-col: 350px;
        grid-template-columns: 1fr min-content $last-col;

        .hero-header.card,
        .stats-resources.card {
            grid-column-end: span 2;
        }

        .conditions {
            grid-column-start: 3;
            grid-row-start: 1;
            grid-row-end: span 3;
        }

        .primary-reference {
            grid-row-start: 3;
            grid-row-end: span 3;
            grid-column-start: 1;
        }

        .potencies {
            grid-column-start: 2;
        }

        .immunities-weaknesses.card {
            grid-column-start: 2;
        }

        .ancestry-traits.card {
            grid-column-start: 3;
            grid-row-start: 4;
            grid-row-end: span 3;
        }
        .modifiers {
            grid-column-start: 2;
            grid-row-start: 5;
            grid-row-end: span 2;
        }
    
        .class-features.card {
            grid-row-start: 6;
            // grid-row-end: span 2;
        }
    
    }

    &.a4.landscape .page-1 {
        $last-col: 430px;
        grid-template-columns: 1fr min-content $last-col;
    }

    &.portrait .page-1 {
        .hero-header.card,
        .stats-resources.card {
            grid-column-end: span 5;
        }
        
        .modifiers {
            grid-column-end: span 2;
            grid-row-end: span 3;
        }
        
        .potencies {
            grid-column-end: span 2;
        }
        .conditions {
            grid-column-end: span 2;
            grid-column-start: 3;
            grid-row-start: 4;
            grid-row-end: span 2;
        }
           
        .primary-reference {
            grid-row-end: span 2;
        }
        .immunities-weaknesses.card {
            grid-column-start: 5;
        }
        .class-features.card {
            grid-column-end: span 3;
        }
        .ancestry-traits.card {
            grid-column-end: span 2;
        }
    }
    
    .page-2 {
        display: grid;
        grid-template-columns: 438px 1fr 365px;
        grid-template-rows: min-content 1fr 1fr 2fr 315px;
    }

    &.portrait .page-2 {
        .skills {
            grid-row-end: span 4;
        }

        .culture, .perks {
            grid-column-end: span 2;
        }

        .perks {
            grid-row-end: span 2;
        }

        .titles.card {
            grid-row-start: 5;
        }

        .projects.card {
            grid-column-start: 2;
            grid-column-end: span 2;
        }
    }

    &.landscape .page-2 {
        .career {
            grid-row-end: span 2;
            grid-column-start: 1;
        }

        .complication {
            grid-row-start: 3;
            grid-row-end: span 3;
            grid-column-start: 1;
        }

        .skills {
            grid-column-start: 3;
            grid-row-start: 1;
            grid-row-end: span 5;
        }

        .culture {
            grid-row-start: 1;
            grid-column-start: 2;
        }

        .perks {
            grid-row-end: span 2;
        }

        .projects.card {
            grid-row-start: 5;
        }
    }
}

.hero-sheet {
    background: common.$color-extra-light;
    color: #222;
    padding: 5px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    .page {
        overflow: hidden;
        margin: 0;
    }

    p, .labeled-field-content span {
        @include common.font-serif();
    }

    p,
    table,
    ul {
        background: #fff;
        color: common.$color-text;
    }

    h2, h3, h4 {
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 10px;
        font-weight: 450;
        color: common.$color-text;
    }

    h2 {
        line-height: 20px;
        font-size: 18px;
        padding: 5px 0;
        border-bottom: 2px solid common.$color-medium;

        @include common.bottom-border-fancy(common.$color-medium);
    }

    h3 {
        line-height: 1.6rem;
        font-size: 1.2rem;
    }

    h4 {
        line-height: 1.4rem;
        text-transform: none;
        font-size: 1.1rem;
        font-weight: 450;
    }

    .card {
        background: #fff;
        border:2px solid common.$color-light;
        border-radius: 2px;
        margin: 5px;
        padding: 5px 15px;
    }

    section.container,
    .beveled {
        @include common.beveled(10px, 2px, common.$color-light);
        padding: 0.5rem;
    }
    
    .abilities.page {
        --gap: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap);
        padding: 10px;

        .card {
            margin: 0;
        }
    }

    &.portrait .abilities.page {
        .card,
        .feature-reference.single {
            flex-basis: calc((100% - 2 * var(--gap)) / 3);
        }

        .feature-reference {
            flex-basis: calc(2 * ((100% - 2 * var(--gap)) / 3) + var(--gap));
        }
    }

    &.landscape .abilities.page {
        .card,
        .feature-reference.single {
            flex-basis: calc((100% - 3 * var(--gap)) / 4);
        }

        .feature-reference {
            flex-basis: calc(2 * ((100% - 3 * var(--gap)) / 4) + var(--gap));
        }
    }

    hr.dashed {
        border: 0;
        border-top: 1px dashed common.$color-medium;
        width: 100%;
    }

    .card section.bordered {
        @include common.beveled(8px, 2px, common.$color-light);
        margin-bottom: 10px;
        padding: 0 10px 10px;

        h3 {
            font-size: 1rem;
            line-height: 1rem;
            height: 1rem;
            font-weight: 450;
            background: #fff;
            display: inline-block;
            position: relative;
            top: -2px;
            margin: 0 auto;
            padding: 0 10px;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        p {
            margin: 0 10px 10px;
        }
    }

    ul.features-container {
        list-style: none;
        padding: 0;
        margin: 0;

        &.two-column {
            column-count: 2;

            background-image: linear-gradient(0deg, common.$color-light, common.$color-light);
            background-size: 2px 100%;
            background-position: 50% 4px;
            background-repeat: no-repeat;
        }

        .feature {
            overflow: hidden;
        }
    }

    .colorful {
        .damage-type.acid,
        .damage-type.poison {
            background-color: #aeef97;
            border-color: color.adjust(#aeef97, $blackness: 20%)
        }
    }
}