@use '../../classic-sheet/common.scss';
@use 'sass:color';

.hero-view-page .hero-view-page-content:has(.hero-sheet),
#pdf-preview {
    overflow-y: auto;
    background: common.$color-extra-light;
}

#pdf-canvas.hidden {
    display: none;
}

#pdf-preview {
    .menu {
        float: right;
        position: fixed;
        top: 10px;
        right: 10px;
        display: flex;
        padding: 5px;
        border-radius: 5px;
        background-color: #44444488;
        z-index: 999;
    }

    .all-careers,
    .all-complications {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .card {
            width: 428px;
            height: 506px;
        }
    }
}

.page {
    background: common.$color-extra-light;
}

#classic-sheet .hero-sheet {
    .page-1,
    .page-2,
    .page-titles-inventory-projects {
        display: grid;
        place-items: stretch;
    }

    .page-1.portrait {
        grid-template-rows: repeat(5, min-content) 1fr;
        grid-template-columns: 1fr 1fr 280px;

        .hero-header.card,
        .stats-resources.card {
            grid-column-end: span 3;
        }
    
        .modifiers {
            grid-row-end: span 3;
        }
    
        .potencies {
            grid-column-start: 3;
        }
    
        .conditions {
            grid-column-start: 2;
            grid-row-start: 3;
            grid-row-end: span 2;
        }
    
        .primary-reference {
            grid-row-end: span 3;
        }
    
        .immunities-weaknesses.card {
            grid-column-start: 2;
        }
    
        .class-features.card {
            grid-column-end: span 2;
        }
    }

    .page-1.landscape {
        grid-template-rows: min-content min-content 213px min-content 1fr;
        grid-template-columns: 1fr min-content min-content 280px;

        .hero-header.card {
            grid-column-end: span 3;
            grid-row-end: span 2;
        }

        .stats-resources.card {
            grid-row-start: 3;
            grid-column-start: 1;
            grid-column-end: span 3;
        }

        .potencies {
            grid-column-start: 4;
            grid-row-start: 1;
        }

        .primary-reference {
            grid-row-start: 2;
            grid-row-end: span 4;
            grid-column-start: 4;
        }

        .immunities-weaknesses.card {
            grid-column-start: 3;
        }

        .conditions {
            grid-column-start: 3;
            grid-row-start: 5;
        }

        .modifiers {
            grid-column-start: 2;
            grid-row-start: 4;
            grid-row-end: span 2;
        }
    
        .class-features.card {
            grid-row-start: 4;
            grid-row-end: span 2;
        }
    
    }

    .page-2.portrait {
        grid-template-columns: 1fr 365px;
        grid-template-rows: min-content min-content 1fr;

        .culture {
            grid-column-end: span 2;
        }

        .career-complication {
            grid-row-start: 2;
            grid-column-start: 1;

            display: grid;
            place-items: stretch;
            grid-template-columns: 1fr 1fr;
        }

        .skills {
            grid-row-end: span 2;
        }
    }

    .page-2.landscape {
        grid-template-columns: 375px 1fr 365px;
        grid-template-rows: min-content 1fr;
        
        .culture {
            grid-row-start: 1;
            grid-column-start: 2;
        }

        .career-complication {
            grid-row-start: 1;
            grid-column-start: 1;
            grid-row-end: span 2;

            display: grid;
            place-items: stretch;
            grid-template-rows: 1fr 1fr;
        }
        .skills {
            grid-column-start: 3;
            grid-row-start: 1;
            grid-row-end: span 2;
        }

        .perks {
            grid-row-end: span 2;
        }
    }

    .page-titles-inventory-projects.portrait {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 2fr;

        .titles,
        .trinkets,
        .leveled-treasure {
            grid-column-end: span 2;
        }
    }

    .page-titles-inventory-projects.landscape {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(4, 1fr);

        .titles,
        .trinkets {
            grid-column-end: span 2;
        }

        .leveled-treasure {
            grid-column-end: span 4;
        }

        .projects {
            grid-column-end: span 3;
        }
    }
}