.selector-row {
	display: flex;
	flex-direction: column;
	gap: 3px;
	background-color: rgb(255, 255, 255);
	border-radius: 5px;
	padding: 4px 8px;
	cursor: pointer;

	&:hover {
		background-color: rgba(5, 5, 5, 0.06);
	}

	&.selected {
		background-color: rgb(230, 244, 255);

		.content {
			font-weight: 600;
		}
	}

	.info {
		text-align: right;
		font-size: 12px;
		opacity: 0.5;
	}
}

html[data-theme="dark"] {
	.selector-row {
		background-color: rgba(5, 5, 5, 0.06);

		&.selected {
			background-color: rgb(55, 55, 55);
		}
	}
}
