.logo-panel {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;

	.logo-panel-image {
		height: 20px;
	}

	.logo-panel-text {
		font-size: 24px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
}

@media (prefers-color-scheme: dark) {
	.logo-panel {
		.logo-panel-image {
			filter: invert(1);
		}		
	}	
}
