.hero-customize-modal {
	padding: 0 20px 20px 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.customize-option-section {
	width: 410px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 10px;
}
