@use '../../../pages/heroes/hero-sheet/common.scss';

.hero-sheet .stats-resources.card {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: stretch;
    justify-items: stretch;
    padding: 5px;

    .characteristics-measurements {
        grid-column-end: span 3;
    }

    .characteristics-measurements, 
    .recoveries, 
    .heroic-resource, 
    .surges {
        display: grid;
        grid-template-rows: min-content 1fr;
        align-items: stretch;
        justify-items: stretch;
    }

    .characteristics,
    .recoveries,
    .heroic-resource,
    .surges {
        .fancy label {
            margin-top: 7px;
        }
        .label-above.fancy>.labeled-field-content {
            aspect-ratio: 1 / 1;
        }
    }

    .recoveries .label-above.fancy>.labeled-field-content {
        background-image: none;
        border: 4px solid common.$color-medium;
        border-radius: 50%;
        width: 80px;
        margin: -2px 0 0;
        align-self: center;
    }

    .heroic-resource .label-above.fancy>.labeled-field-content {
        @include common.hexagon(4px, common.$color-medium);
    }

    .surges .label-above.fancy>.labeled-field-content {
        background-image: none;
        border: 4px solid common.$color-medium;
    }

    .characteristics {
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        .label-above.fancy {
            label {
                text-wrap: nowrap;
            }
            .symbol {
                @include common.font-potency;
                display: inline-block;
                transform: translateY(2px);
            }
            >.labeled-field-content {
                @include common.beveled-fancy-1(15px, 4px, 3px, 2px, common.$color-medium);
                align-self: center;
                width: 76px;
                margin-left: 5px;
                margin-right: 5px;
            }
            margin-left: 0;
            margin-right: 0;
        }
    }

    .measurements {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        justify-items: stretch;
        align-items: stretch;
        padding-top: 8px;

        :first-child {
            grid-column-start: 2;
        }

        .labeled-field-content {
            padding: 4px 0;
        }

        label {
            color: var(--color-text);
        }
    }

    .stamina {
        position: relative;
        border-left: 2px solid common.$color-light;
        border-right: 2px solid common.$color-light;

        grid-column-end: span 2;

        display: grid;
        grid-template-rows: min-content min-content min-content 1fr;
        place-items: stretch;

        h4:not(#take-priority) {
            margin: 5px 3px 0;
            padding: 0;
            text-align:center;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 450;
        }

        .current-stamina {
            float: left;
            width: 7rem;
            position: absolute;
            display: flex;
            flex-flow: column;
            justify-content: flex-end;
            align-items: center;
            padding-bottom: 25px;
            margin-left: 8px;

            aspect-ratio: 600 / 780; // svg view size
            transform: translateY(-10px);
            border: 0;
            background-repeat: no-repeat;
            background-color: transparent;
            background-image: common.svg-shield-color(common.$color-medium);
            background-size: 100% 100%;
            background-position: center center;

            label {
                margin-bottom: -8px;
            }
            .labeled-field-content span {
                font-size: 3rem;
            }
        }

        .current-state {
            @include common.beveled(10px, 2px, common.$color-medium);
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;
            justify-items: stretch;

            margin: 12px 15px 11px 15px;
            padding: 5px;

            .winded {
                grid-column-start: 2;
            }
            .winded,
            .dying {
                .ref {
                    @include common.font-slab();
                    text-align: center;
                    font-size: 1.1rem;

                    .data {
                        @include common.font-slab();
                        display: inline-block;
                        border-bottom: 1.5px solid common.$color-light;
                        font-size: 1.3rem;
                        line-height: 100%;
                        padding: 0 3px;
                        min-width: 30px;
                    }
                }
            }
        }

        .reference {
            .labeled-field {
                width: 30%;
            }
        }
    }

    .recoveries,
    .heroic-resource,
    .surges {
        padding-left: 10px;
        padding-right: 10px;

        .label-above .labeled-field-content {
            margin: 0 20px;
        }
    }

    .recoveries,
    .heroic-resource {
        border-right: 2px solid common.$color-light;
    }

    .heroic-resource {
        .labeled-field.fancy {
            label {
                margin-top: -2px;
                margin-bottom: 0;
            }
            .labeled-field-content {
                height: 76px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .stamina .reference,
    .recoveries .reference {
        display: flex;
        justify-content: center;
        align-items: stretch;

        label {
            align-self: center;
        }
    }
    .stamina .reference,
    .recoveries .reference,
    .heroic-resource .labeled-field.no-box {

        .labeled-field-content span {
            font-size: 1.6rem;
        }
    }
    .recoveries .reference {
        .labeled-field {
            width: 4em;
        }
    }

    .surges {
        margin-right: -15px;

        .labeled-field-content {
            max-width: 76px;
            align-self: center;

            span {
                min-width: 76px;
            }
        }
    }

    .surges .reference {
        font-size: 1rem;
        line-height: 1.6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 15px;
        text-align: center;
        margin-left: -5px;
        margin-right: -5px;
        color: var(--color-text-lightest);

        div, .data {
            @include common.font-slab();
            text-wrap: nowrap;
        }
        .data {
            border-bottom: 1px solid common.$color-medium;
            color: var(--color-text);
            min-width: 24px;
            display: inline-block;
            text-align: center;
            font-size: 1.3rem;
        }
    }
}

.hero-sheet.a4.portrait .stats-resources.card {
    .characteristics-measurements {
        margin-left: -5px;

        .labeled-field.fancy label {
            letter-spacing: -0.03em;
        }
    }
}