.clocktower-script-panel {
	display: block;

	.roles-section {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
		gap: 10px;
	}

	.night-section {
		display: block;
	}
}
