.tip-panel {
	display: flex;
	flex-direction: column;
	gap: 15px;

	.tip-panel-image {
		max-width: 100%;
		max-height: 100%;
		object-fit: contain;
		border-radius: 5px;
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.12);
	}
}
