.condition-panel {
    border-radius: 5px;
	padding: 5px 0;
	display: flex;
	gap: 10px;

	.action-buttons {
		padding-top: 10px;
		display: flex;
		flex-direction: column;
		border-left: 1px solid rgba(5, 5, 5, 0.06);
		padding-left: 10px;
	}

}

@media (prefers-color-scheme: dark) {
	.condition-panel {
		.action-buttons {
			button {
				color: rgb(255, 255, 255);
			}
		}
	}
}
