$extra-light: #eee;
$light: #bbb; // 73.3%
$medium: #666; // 40%
$dark: #444; // 26.7%

:root {
    --color-text: #222;
    --color-text-lighter: #444;
    --color-text-lightest: #666;
}

// Print-optimized colors
$main-action: #00aeef;
$triggered-action: #ed1c24;
$maneuver: #00a651;
$performance: #92278f;
$free-strike: #666;
$move: #db8b27;

$error: #ed1c24;

// Monster Role colors
$general-monster: #c7c8ca;
$ambusher: #f8db55;
$artillery: #c8c3db;
$brute: #93b4dc;
$controller: #f48a89;
$defender: #c6c19e;
$harrier: #e7bdc0;
$hexer: #d6e0c2;
$mount: #b8dce9;
$support: #f4d6bf;

$companion: #70a9e0;