@use 'sass:map';

$extra-light: #eee;
$light: #bbb; // 73.3%
$medium: #666; // 40%
$dark: #444; // 26.7%

:root {
    --color-text: #222;
    --color-text-lighter: #444;
    --color-text-lightest: #666;
}

// prefer print-optimized colors
$fs-cs-colors: (
    'blue': #00aeef,
    'red': #ed1c24,
    'green': #00a651,
    'purple': #92278f,
    'gray': #666,
    'orange': #db8b27
);

$classic-colors: (
    className: 'classic',
    main-action:        map.get($fs-cs-colors, 'blue'),
    triggered-action:   map.get($fs-cs-colors, 'red'),
    maneuver:           map.get($fs-cs-colors, 'green'),
    performance:        map.get($fs-cs-colors, 'purple'),
    free-strike:        map.get($fs-cs-colors, 'gray'),
    move:               map.get($fs-cs-colors, 'orange')
);

$community-colors: (
    className: 'community',
    main-action:        map.get($fs-cs-colors, 'red'),
    triggered-action:   map.get($fs-cs-colors, 'green'),
    maneuver:           map.get($fs-cs-colors, 'blue'),
    performance:        map.get($fs-cs-colors, 'purple'),
    free-strike:        map.get($fs-cs-colors, 'gray'),
    move:               map.get($fs-cs-colors, 'orange')
);

$schemes: $classic-colors, $community-colors;

$error: #ed1c24;

// Monster Role colors
$general-monster: #c7c8ca;
$ambusher: #f8db55;
$artillery: #c8c3db;
$brute: #93b4dc;
$controller: #f48a89;
$defender: #c6c19e;
$harrier: #e7bdc0;
$hexer: #d6e0c2;
$mount: #b8dce9;
$support: #f4d6bf;

$companion: #70a9e0;