@use 'sass:meta';
@use 'sass:string';

@function encodecolor($string) {
    @if meta.type-of($string)=='color' {
        $hex: string.slice(ie-hex-str($string), 4);
        $string: string.unquote("#{$hex}");
    }

    $string: '%23' + $string;
    @return $string;
}

@function svg-diamond-color($color) {
    @return url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64" xml:space="preserve"><path d="M62 32L32 62L2.001 32l30-30z" fill="#{encodecolor($color)}"></path></svg>');
}

@function svg-shield-color($color) {
    @return url('data: image/svg+xml, %3Csvg%20viewBox%3D%220%200%20600%20760%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xml%3Aspace%3D%22preserve%22%20style%3D%22fill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bstroke-linejoin%3Around%3Bstroke-miterlimit%3A2%22%3E%3Cpath%20d%3D%22M300%200s60.422%20119.91%20225%2040c2.211-1.074%2075%2080%2075%2080v380c0%20152.084-300%20260-300%20260S0%20665.056%200%20500V120s74.463-80.259%2075-80C239.604%20119.417%20300%200%20300%200%22%20style%3D%22fill%3A%23fff%22%2F%3E%3Cpath%20d%3D%22M300%200s60.422%20119.91%20225%2040c2.211-1.074%2075%2080%2075%2080v380c0%20152.084-300%20260-300%20260S0%20665.056%200%20500V120s74.463-80.259%2075-80C239.604%20119.417%20300%200%20300%200m218.309%2075.922c-65.752%2027.392-116.012%2025.077-152.911%2013.04-29.169-9.516-50.617-25.473-65.447-40.269-14.823%2014.721-36.242%2030.584-65.355%2040.062-36.829%2011.99-86.977%2014.337-152.574-12.749C66.499%2092.516%2042.417%20118.412%2030%20131.78V500c0%2056.83%2043.694%20102.433%2093.274%20138.583%2067.429%2049.164%20148.638%2079.933%20176.14%2089.559%2027.524-10.746%20109.278-44.823%20177.142-95.038C526.017%20596.507%20570%20552.238%20570%20500V131.751z%22%20style%3D%22fill%3A#{encodecolor($color)}%22%2F%3E%3C%2Fsvg%3E');
}