.hero-customize-panel {
	display: flex;
	flex-direction: column;
	gap: 10px;

	.random-btn {
		color: rgba(0, 0, 0, 0.88);
	}
}

@media (prefers-color-scheme: dark) {
	.hero-customize-panel {
		.random-btn {
			color: rgba(255, 255, 255, 0.88);
		}
	}
}
