@use '../../../pages/classic-sheet/common.scss';

#classic-sheet .symbol-text {
    display: inline-block;

    .characteristic {
        @include common.font-glyphs();
        display: inline-block;
        font-size: round(1.2rem, 1px);
    }
    .potency {
        @include common.font-glyphs();
        display: inline-block;
        font-size: round(1.2rem, 1px);
    }
}
