@use '../../../pages/classic-sheet/common.scss';

#classic-sheet .hero-sheet .card .stamina {
    position: relative;
    display: grid;
    grid-template-rows: min-content min-content min-content 1fr;
    place-items: stretch;

    h4 {
        margin: 5px 3px 0;
        padding: 0;
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 450;
    }

    .current-stamina {
        float: left;
        width: round(7rem, 1px);
        position: absolute;
        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 25px;
        margin-left: 8px;

        aspect-ratio: 600 / 780; // svg view size
        transform: translateY(-10px);
        border: 0;
        background-repeat: no-repeat;
        background-color: transparent;
        background-image: common.svg-shield-color(common.$color-medium);
        background-size: 100% 100%;
        background-position: center center;

        label {
            margin-bottom: -8px;
        }

        .labeled-field-content span {
            font-size: round(3rem, 1px);
        }
    }

    .current-state {
        @include common.border-beveled(10px, 2px, common.$color-medium);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: stretch;

        margin: 12px 15px 11px 15px;
        padding: 5px;

        .winded {
            grid-column-start: 2;
        }

        .winded,
        .dying {
            .ref {
                @include common.font-slab();
                text-align: center;
                font-size: round(1.1rem, 1px);

                .data {
                    @include common.font-slab();
                    display: inline-block;
                    border-bottom: 1.5px solid common.$color-light;
                    font-size: round(1.3rem, 1px);
                    line-height: 100%;
                    padding: 0 3px;
                    min-width: 30px;
                }
            }
        }
    }

    .reference {
        display: flex;
        justify-content: center;
        align-items: stretch;
    
        label {
            align-self: center;
        }
        .labeled-field {
            width: 30%;
        }
        .labeled-field-content span {
            font-size: round(1.6rem, 1px);
        }
    }
}