.number-spin {
	display: flex;
    align-items: center;
    justify-content: space-between;
	border-radius: 6px;
	user-select: none;

	&.disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	&:hover {
		background-color: rgba(0, 0, 0, 0.06);
	}

	.spin-buttons {
		margin: 5px;

		.spin-button {
			border-radius: 6px;
			padding: 5px;
			font-size: 20px;

			&.disabled {
				pointer-events: none;
				opacity: 0.3;
			}

			&:hover {
				background-color: rgba(0, 0, 0, 0.06);
			}
		}
	}
}

@media (prefers-color-scheme: dark) {
	.number-spin {
		color: rgba(255, 255, 255, 0.88);

		&:hover {
			background-color: rgba(250, 250, 250, 0.3);
		}

		.spin-buttons {
			.spin-button {
				&:hover {
					background-color: rgba(250, 250, 250, 0.3);
				}
			}
		}

		.spin-middle {
			.ant-statistic-title {
				color: rgba(250, 250, 250, 0.45);
			}

			.ant-statistic-content {
				color: rgba(250, 250, 250, 0.88);
			}
		}
	}
}
