.number-spin {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 6px;
	user-select: none;

	&.disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	&:hover {
		background-color: var(--fs-hover-fill);
	}

	.spin-buttons {
		flex: 0 0 auto;
		margin: 5px;

		.spin-button {
			border-radius: 6px;
			padding: 5px;
			font-size: 20px;

			&.disabled {
				pointer-events: none;
				opacity: 0.3;
			}

			&:hover {
				background-color: var(--fs-hover-fill);
			}
		}
	}

	.spin-middle {
		flex: 1 1 0;
	}
}

html[data-theme="dark"] {
	.number-spin {
		color: rgba(255, 255, 255, 0.88);
	}
}
