.map-wall-panel {
	position: absolute;
	transition:
		background-color ease-in-out 0.2s,
		background-image ease-in-out 0.2s,
		border-color ease-in-out 0.2s,
		outline ease-in-out 0.2s,
		left ease-in-out 0.2s,
		right ease-in-out 0.2s,
		top ease-in-out 0.2s,
		bottom ease-in-out 0.2s,
		opacity ease-in-out 0.2s;

	&.selectable {
		cursor: pointer;

		&:hover {
			outline: 2px solid rgb(64, 150, 255);
		}
	}

	&.selected {
		outline: 3px solid rgb(64, 150, 255);
	}

	.wall-content {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgb(50, 50, 50);

		.outline {
			stroke: rgb(50, 50, 50);
			fill: rgb(150, 150, 150);
		}
	}
}

@media (prefers-color-scheme: dark) {
	.map-wall-panel {
		.wall-content {
			background-color: rgb(240, 240, 240);

			.outline {
				stroke: rgb(240, 240, 240);
				fill: rgb(150, 150, 150);
			}
		}
	}	
}
