.library-edit-page {
	height: 100%;
	display: flex;
	flex-direction: column;

	.library-edit-page-content {
		padding: 20px;
		background-color: rgb(230, 230, 230);
		flex: 1 1 0;
		display: flex;
		flex-direction: column;
		overflow: hidden;

		.tactical-map-container {
			overflow: auto;
		}
	}
}

html[data-theme="dark"] {
	.library-edit-page {
		.library-edit-page-content {
			background-color: rgb(55, 55, 55);
		}
	}
}
