@use '../../../pages/heroes/hero-sheet/common.scss';

.skills.card {
    display: grid;
    grid-template-rows: min-content min-content 1fr;

    .reference {
        @include common.font-slab();
        text-align: center;
        font-size: 1.1rem;
        color: common.$color-medium;
    }

    .skills-lists {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0 10px;
    }

    h3 {
        text-align: left;
        border-bottom: 2px solid common.$color-medium;
        font-size: 1.2rem;
    }

    ul {
        list-style: none;
        column-count: 2;
        margin:0;
        padding: 0;

        li {
            padding: 3px 0;
        }
        li label{
            font-weight: 400;
            // text-wrap: nowrap;
        }
    }
}