@use '../../../pages/classic-sheet/common.scss';

.primary-reference.card * {
    @include common.font-slab();
}

.landscape .primary-reference.card {
    flex-direction: row;
    gap: 0 10px;
    .heroic-resource {
        order: 2;
        flex-basis: 130%;
        .heroic-resource-gain {
            margin-bottom: 0;
        }
    }
}

.primary-reference.card {
    display: flex;
    flex-direction: column;

    padding: 10px 15px;

    font-size: round(1.1rem, 1px);
    line-height: round(1.3rem, 1px);
    strong {
        font-weight: 500;
    }

    p {
        color: var(--color-text-lightest);
        margin: 7px 0;
    }

    h3 {
        border-bottom: 2px solid common.$color-light;
        margin-bottom: 10px;
        padding: 5px;
    }

    .heroic-resource-gain {
        display: grid;
        grid-template-columns: min-content 3fr;
        grid-gap: 3px;
        margin-bottom: 10px;
        color: var(--color-text-lightest);

        .value {
            text-align: center;
        }

        .trigger {
            margin-bottom: 2px;
            line-height: round(1.4re, 1px);
        }

        .header {
            font-weight: 500;
            margin-bottom: 4px;
            border-bottom: 2px solid common.$color-medium;
        }
    }
}