@use '../../../pages/classic-sheet/common.scss';

.turn-reference.card {
    & * {
        @include common.font-slab();
    }

    .actions-maneuvers {
        display: grid;
        grid-template-columns: 1fr 1fr;

        * {
            color: var(--color-text-lighter);
        }

        h5 {
            margin: 4px 20px 4px 0;
            border-bottom: 2px solid common.$color-light;
            font-size: round(1rem, 1px);
            font-weight: 450;
        }

        ul {
            margin: 4px 10px 4px 4px;
            list-style-type: '— ';
            list-style-position: outside;

            li {
                margin-top: 2px;
            }
        }

        .main-actions,
        .move-actions {
            grid-column-start: 1;
        }

        .maneuvers {
            grid-column-start: 2;
            grid-row-start: 1;
            grid-row-end: span 2;
        }
    }
}

#classic-sheet .hero-sheet .extra-reference.card {
    // @include common.striped-card;

    *:not(h2) {
        @include common.font-serif();
        font-size: round(1.1rem, 1px);
        line-height: 1.3rem;
        color: var(--color-text-lighter);
    }

    li {
        margin-bottom: 10px;
    }

    table {
        td, th {
            border: 0;
        }
        td:first-child {
            vertical-align: baseline;
        }
        img {
            width: 50px;
            height: 18px;
        }
    }
}