@use '../../../style/colors.scss';

.sash-panel {
	position: absolute;
	width: 86px;
	height: 18px;
	top: 11px;
	right: -22px;
	transform: rotate(45deg);
	background-color: colors.$ability-default;
	color: rgb(255, 255, 255);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 8px;
	font-weight: 700;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);

	&.type-main {
		background-color: colors.$ability-main;
	}

	&.type-maneuver {
		background-color: colors.$ability-maneuver;
	}

	&.type-trigger {
		background-color: colors.$ability-trigger;
	}

	&.type-move {
		background-color: colors.$ability-move;
	}

	&.type-villain {
		background-color: colors.$ability-villain;
	}

	&.type-perform {
		background-color: colors.$ability-perform;
		color: rgba(0, 0, 0, 0.82);
	}
}
