.app-header {
	flex: 0 0 50px;
	padding: 0 12px;
	background-color: rgb(200, 200, 200);
	display: flex;
	align-items: center;
	justify-content: space-between;

	.left-section {
		display: flex;
		align-items: center;
		gap: 5px;
	}

	.action-buttons-panel {
		display: flex;
		align-items: center;
		gap: 5px;

		.ant-btn-text {
			color: white;
		}

		.divider {
			margin: 5px;
			height: 20px;
			width: 1px;
			background-color: rgba(0, 0, 0, 0.2);
		}
	}
}

@media (prefers-color-scheme: dark) {
	.app-header {
		background-color: rgb(0, 0, 0);

		.left-section {
			.ant-btn {
				color: rgba(255, 255, 255, 0.88);
			}
		}

		.action-buttons-panel {
			.divider {
				background-color: rgba(255, 255, 255, 0.5);
			}
		}
	}
}
