.app-header {
	flex: 0 0 60px;
	padding: 0 12px;
	background-color: rgb(200, 200, 200);
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 50px;

	.title {
		display: flex;
		align-items: center;
		gap: 10px;
		padding: 5px 10px;
		border-radius: 10px;

		&.clickable {
			cursor: pointer;

			&:hover {
				background-color: rgba(255, 255, 255, 0.5);
			}
		}

		.title-logo {
			height: 20px;
		}

		.title-text {
			font-size: 24px;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 2px;
		}

		.subtitle-text {
			font-size: 18px;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 1.5px;
			opacity: 0.7;
		}
	}

	.action-buttons {
		display: flex;
		align-items: center;
		gap: 5px;

		.divider {
			height: 20px;
			width: 1px;
			background-color: rgba(0, 0, 0, 0.2);
		}
	}
}

@media (prefers-color-scheme: dark) {
	.app-header {
		background-color: rgb(0, 0, 0);

		.title {
			.title-logo {
				filter: invert(1);
			}
		}

		.action-buttons {
			.divider {
				background-color: rgba(255, 255, 255, 0.5);
			}
		}
	}
}
