.encounter-difficulty-panel {
	display: flex;
	flex-direction: column;
	gap: 10px;

	.encounter-slider {
		margin: 10px 0;
	}

	.stats {
		margin: 5px 0;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		border: 1px solid rgba(5, 5, 5, 0.06);
		border-radius: 10px;
		background-color: rgb(250, 250, 250);
	}
}

@media (prefers-color-scheme: dark) {
	.encounter-difficulty-panel {
		.stats {
			border-color: rgba(250, 250, 250, 0.6);
			background-color: rgb(30, 30, 30);
		}
	}	
}
