.item-modal {
	display: flex;
	flex-direction: column;
	gap: 10px;

	.toolbar {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 10px;
		padding: 13px;
		background-color: rgb(200, 200, 200);
		position: sticky;
		top: 0;
		z-index: 100;
	}
}

@media (prefers-color-scheme: dark) {
	.item-modal {
		.toolbar {
			background-color: rgb(0, 0, 0);
		}
	}
}
