html {
	height: 100%;
	overflow: hidden;

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;

	color-scheme: light dark;
	color: #213547;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	box-sizing: border-box;
}

body {
	height: 100%;
	margin: 0;
}

#root {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.header-text {
	margin: 10px 0;
	padding-bottom: 10px;
	border-bottom: 1px solid rgb(230, 230, 230);
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.description-text {
	margin: 10px 0;
	color: rgb(120, 120, 120);
	font-size: 14px;
}

.dimmed-text {
	margin: 10px 0;
	color: rgb(160, 160, 160);
	font-size: 13px;
	font-style: italic;
}

.ant-statistic .ant-statistic-content {
    text-align: center;
}
