@font-face {
	font-family: 'PT Sans';
	src: url('../src/assets/fonts/pt/regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'PT Sans';
	src: url('../src/assets/fonts/pt/bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'PT Sans';
	src: url('../src/assets/fonts/pt/italic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'PT Sans';
	src: url('../src/assets/fonts/pt/bold-italic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

* {
	font-family: 'PT Sans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
	box-sizing: border-box;
	transition:
		background-color ease-in-out 0.2s,
		background-image ease-in-out 0.2s,
		border-color ease-in-out 0.2s,
		outline ease-in-out 0.2s;
}

html {
	height: 100%;
	overflow: hidden;

	font-size: 14px;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(0, 0, 0, 0.88);
	background-color: rgb(255, 255, 255);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	height: 100%;
	margin: 0;
}

#root {
	height: 100%;
	display: flex;
	flex-direction: column;
}

p,
.ds-text {
	margin: 10px 0;
	color: rgba(0, 0, 0, 0.88);

	&.bold-text {
		font-weight: 600;
		letter-spacing: 0.5px;
	}

	&.dimmed-text {
		opacity: 0.3;
	}

	&.centered-text {
		text-align: center;
	}

	&.small-text {
		font-size: 10px;
	}

	br {
		content: '';
		display: block;
		height: 10px;
	}
}

b {
	font-weight: 600;
	letter-spacing: 0.5px;
}

ul {
	padding-inline-start: 15px;
}

table {
	margin: 10px 0;
	width: 100%;
	border-collapse: collapse;
	background-color: rgb(250, 250, 250);
}

th {
	font-weight: 600;
}

table,
th,
td {
	border: 1px solid rgba(5, 5, 5, 0.06);
}

th,
td {
	padding: 5px;
}

.ant-alert {
	padding: 4px 8px;
}

.ant-btn {
	box-shadow: none;

	&.ant-btn-text {
		font-size: unset;
	}

	&:disabled {
		color: rgb(120, 120, 120);
	}
}

.ant-collapse {
	>.ant-collapse-item {
		>.ant-collapse-header {
			align-items: center;
			user-select: none;

			>.ant-collapse-extra {
				display: flex;
			}
		}
	}

	&:hover {
		>.ant-collapse-item {
			>.ant-collapse-header {
				background-color: rgb(180, 220, 255);
				border-color: rgb(64, 150, 255);
				border-radius: 6px;
			}

			&.ant-collapse-item-active {
				>.ant-collapse-header {
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
					border-top-left-radius: 6px;
					border-top-right-radius: 6px;
				}
			}
		}
	}

	>.ant-collapse-item {
		>.ant-collapse-content-box {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}
	}
}

.ant-collapse .ant-collapse-content>.ant-collapse-content-box {
	padding: 5px 20px 20px 20px;
}

.ant-drawer {
	.ant-drawer-content {
		.ant-drawer-body {
			padding: 0;
		}
	}
}

.ant-dropdown {
	.ant-dropdown-menu {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
		gap: 10px;
	}
}

.ant-input-affix-wrapper {
	&.input-empty {
		border-color: rgb(255, 160, 0);
		background-color: rgba(255, 160, 0, 0.2);
	}
}

.ant-input-group-wrapper {
	&.input-empty {
		.ant-input-outlined {
			border-color: rgb(255, 160, 0);
			background-color: rgba(255, 160, 0, 0.2);
		}
	}
}

.ant-popover {
	.ant-divider {
		margin: 15px 0;
	}
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):first-child {
    font-weight: 600;
    background-color: rgb(180, 220, 255);
}

.ant-statistic {
	.ant-statistic-title {
		min-height: 24px;
		line-height: 12px;
		text-align: center;
	}

	.ant-statistic-title,
	.ant-statistic-content {
		display: flex;
		align-items: center;
		justify-content: center;

		.ant-statistic-content-suffix {
			font-size: 18px;
			opacity: 0.5;
		}
	}
}

.ant-select-dropdown {
	.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
		font-weight: unset;
	}

	.ant-select-item {
		padding: 0 10px;

		.ant-select-item-option-content {
			white-space: unset !important;
			text-overflow: unset !important;
		}
	}
}

.ant-select-outlined {
	&.selection-empty {
		.ant-select-selector {
			border-color: rgb(255, 160, 0);
			background-color: rgba(255, 160, 0, 0.2);
		}
	}
}

.ant-tabs {
	&.ant-tabs-top >.ant-tabs-nav::before,
	&.ant-tabs-bottom >.ant-tabs-nav::before,
	&.ant-tabs-top >div>.ant-tabs-nav::before,
	&.ant-tabs-bottom >div>.ant-tabs-nav::before {
		border-color: rgba(5, 5, 5, 0.06);
	}
}

.ant-upload-wrapper {
	.ant-upload {
		&.ant-upload-select {
			display: block;
		}
	}
}

@media (prefers-color-scheme: dark) {
	html {
		color: rgba(255, 255, 255, 0.88);
		background-color: rgb(55, 55, 55);
	}

	p,
	.ds-text,
	ul {
		color: rgba(255, 255, 255, 0.88);
	}

	table {
		border-color: rgba(250, 250, 250, 0.6);
		background-color: rgb(30, 30, 30);
	}

	.ant-collapse {
		.ant-collapse-item {
			.ant-collapse-header {
				color: rgba(255, 255, 255, 0.88) !important;
			}

			.ant-collapse-content {
				background-color: unset;
			}
		}

		&:hover {
			.ant-collapse-item {
				.ant-collapse-header {
					color: rgba(0, 0, 0, 0.88) !important;
				}
			}
		}
	}

	.ant-divider {
		border-block-start: 1px solid rgba(250, 250, 250, 0.6);

		.ant-divider-inner-text {
			color: rgba(255, 255, 255, 0.88);
		}
	}

	.ant-drawer-content {
		color: rgba(255, 255, 255, 0.88);
		background-color: rgb(55, 55, 55) !important;
	}

	.ant-dropdown-menu {
		.ds-text {
			color: rgba(0, 0, 0, 0.88);
		}
	}

	.ant-popover {
		.ant-popover-arrow:after,
		.ant-popover-inner {
			background-color: rgb(120, 120, 120);
		}
	}

	.ant-statistic {
		.ant-statistic-title,
		.ant-statistic-content {
			color: rgba(255, 255, 255, 0.88);
		}
	}

	.ant-select-dropdown {
		background-color: rgb(30, 30, 30);

		.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
			.ds-text,
			.field .field-label,
			.field .field-value {
				color: rgba(0, 0, 0, 0.88);
			}
		}
	}

	.ant-tabs {
		&.ant-tabs-top >.ant-tabs-nav::before,
		&.ant-tabs-bottom >.ant-tabs-nav::before,
		&.ant-tabs-top >div>.ant-tabs-nav::before,
		&.ant-tabs-bottom >div>.ant-tabs-nav::before {
			border-color: rgba(250, 250, 250, 0.6);
		}
	
		.ant-tabs-tab {
			color: rgba(255, 255, 255, 0.88);
		}
	}
}
