* {
	box-sizing: border-box;
	user-select: none;
	transition:
		background-color ease-in-out 0.2s,
		background-image ease-in-out 0.2s,
		border-color ease-in-out 0.2s,
		outline ease-in-out 0.2s;
}

html {
	height: 100%;
	overflow: hidden;

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(0, 0, 0, 0.88);
	background-color: rgb(255, 255, 255);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	height: 100%;
	margin: 0;
}

#root {
	height: 100%;
	display: flex;
	flex-direction: column;
}

p,
.ds-text {
	margin: 10px 0;
	color: rgba(0, 0, 0, 0.88);

	&.dimmed-text {
		opacity: 0.3;
	}

	&.description-text {
		opacity: 0.6;
	}

	&.centered-text {
		text-align: center;
	}
}

p {
	display: inline;
}

ul {
	padding-inline-start: 15px;
}

.ant-btn {
	&.ant-btn-text {
		font-size: unset;
	}

	&:disabled {
		color: rgb(120, 120, 120);
	}
}

.ant-collapse-content-box {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.ant-drawer {
	.ant-drawer-content {
		.ant-drawer-body {
			padding: 0;
		}
	}
}

.ant-statistic {
	.ant-statistic-title,
	.ant-statistic-content {
		display: flex;
		align-items: center;
		justify-content: center;

		.ant-statistic-content-suffix {
			font-size: 18px;
			opacity: 0.5;
		}
	}
}

.ant-select-dropdown {
	.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
		font-weight: unset;
	}

	.ant-select-item {
		padding: 0 10px;

		.ant-select-item-option-content {
			white-space: unset !important;
			text-overflow: unset !important;
		}
	}
}

@media (prefers-color-scheme: dark) {
	html {
		color: rgba(255, 255, 255, 0.88);
		background-color: rgb(55, 55, 55);
	}

	p,
	.ds-text {
		color: rgba(255, 255, 255, 0.88);
	}

	.ant-collapse {
		.ant-collapse-header {
			color: rgba(255, 255, 255, 0.88) !important;
		}

		.ant-collapse-content {
			background-color: unset;
		}
	}

	.ant-divider {
		border-block-start: 1px solid rgba(250, 250, 250, 0.6);

		.ant-divider-inner-text {
			color: rgba(255, 255, 255, 0.88);
		}
	}

	.ant-drawer-content {
		color: rgba(255, 255, 255, 0.88);
		background-color: rgb(55, 55, 55) !important;
	}

	.ant-statistic {
		.ant-statistic-title,
		.ant-statistic-content {
			color: rgba(255, 255, 255, 0.88);
		}
	}

	.ant-select-dropdown {
		background-color: rgb(50, 50, 50);

		.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
			.ds-text,
			.field .field-label,
			.field .field-value {
				color: rgba(0, 0, 0, 0.88);
			}
		}
	}

	.ant-tabs {
		.ant-tabs-tab {
			color: rgba(255, 255, 255, 0.88);
		}
	}
}
