.toggle {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	border-radius: 6px;
	padding: 5px 10px;
	cursor: pointer;

	&.disabled {
		opacity: 0.6;
		pointer-events: none;
	}

	&:hover {
		background-color: rgba(0, 0, 0, 0.06);
	}
}
