.toggle {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	border-radius: 6px;
	padding: 5px 10px;
	cursor: pointer;

	&.disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	&:hover {
		background-color: var(--fs-hover-fill);
	}
}

html[data-theme="dark"] {
	.toggle {
		color: rgba(255, 255, 255, 0.88);
	}
}
