.toggle {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	border-radius: 5px;
	padding: 5px 10px;
	cursor: pointer;

	&:hover {
		background: rgba(0, 0, 0, 0.06);
	}
}
