.welcome-page {
	height: 100%;
	display: flex;
    flex-direction: column;

	.welcome-page-content {
		height: 100%;
		background-color: rgba(0, 0, 0, 0.1);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		overflow-y: auto;
		padding: 20px;

		.welcome-column {
			width: 100%;
			max-width: 600px;
			display: flex;
			flex-direction: column;
			overflow-y: auto;

			.welcome-tab-button {
				width: 60px;
				height: 45px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				.title {
					font-size: 14px;
					font-weight: 600;
					height: 20px;
					line-height: 20px;
				}

				.subtitle {
					font-size: 11px;
					height: 18px;
					line-height: 18px;
				}
			}

			.welcome-section {
				height: 400px;

				.ant-btn {
					width: 160px;
					flex: 0 0 160px;
				}
			}
		}
	}
}
