.welcome-page {
	height: 100%;
	display: flex;
    flex-direction: column;

	.welcome-page-content {
		height: 100%;
		background-color: rgba(0, 0, 0, 0.1);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		gap: 20px;
		overflow-y: auto;
	}
}
