.welcome-page {
	height: 100%;
	display: flex;
	flex-direction: column;

	.welcome-page-content {
		height: 100%;
		background-color: rgb(230, 230, 230);
		padding: 50px;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-evenly;
		gap: 50px;
		overflow-y: auto;

		&.compact {
			padding: 20px;
		}

		.welcome-column {
			flex: 1 1 0;

			.welcome-tab-button {
				height: 45px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				.title {
					line-height: 20px;
				}

				.subtitle {
					font-size: 11px;
					line-height: 18px;
				}
			}

			.welcome-section {
				margin: -10px 0 0 0;
				display: flex;
				flex-direction: column;
				gap: 20px;
			}

			.welcome-buttons {
				.ant-btn {
					flex: 1 1 0;
				}
			}
		}

		.tip-column {
			flex: 0 0 400px;
			padding-top: 10px;
			display: flex;
			flex-direction: column;
			gap: 30px;
		}
	}

	.logo-container {
		margin: 5px 0 -5px 0;

		>img {
			height: 45px;
		}
	}
}

html[data-theme="dark"] {
	.welcome-page {
		.welcome-page-content {
			background-color: rgb(55, 55, 55);

			.welcome-column {
				.logo-container {
					>img {
						filter: invert(1);
					}
				}
			}
		}
	}
}
