.welcome-page {
	height: 100%;
	display: flex;
	flex-direction: column;

	&.full {
		.welcome-page-content {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;

			.welcome-column {
				max-width: 800px;

				.welcome-section {
					height: 300px;
				}
			}
		}
	}

	.welcome-page-content {
		height: 100%;
		background-color: rgb(230, 230, 230);
		overflow-y: auto;
		padding: 0 20px 20px 20px;

		.welcome-column {
			.welcome-tab-button {
				width: 70px;
				height: 45px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				.title {
					font-size: 14px;
					font-weight: 600;
					height: 20px;
					line-height: 20px;
				}

				.subtitle {
					font-size: 11px;
					height: 18px;
					line-height: 18px;
				}
			}

			.welcome-section {
				.ant-btn {
					flex: 0 0 160px;
				}
			}
		}
	}
}

html[data-theme="dark"] {
	.welcome-page {
		.welcome-page-content {
			background-color: rgb(55, 55, 55);
		}
	}
}
