.session-player-page {
	height: 100%;
	background-color: rgb(230, 230, 230);
	display: flex;
	flex-direction: column;

	.session-player-page-content {
		flex: 1 1 0;
		overflow-y: auto;

		.tactical-map-container {
			overflow: hidden;
		}
	}
}

@media (prefers-color-scheme: dark) {
	.session-player-page {
		.session-player-page-content {
			background-color: rgb(55, 55, 55);
		}
	}
}
