.plot-panel {
	.plot-content-row {
		margin: 5px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 10px;

		.content-text {
			&.read-aloud {
				margin: 0 10px;
				width: calc(100% - 20px);
				border-left: 2px solid rgba(0, 0, 0, 0.88);
				border-right: 2px solid rgba(0, 0, 0, 0.88);
				background-color: rgba(5, 5, 5, 0.06);
				padding: 0 10px;
			}
		}

		.content-image {
			flex: 1 1 0;
			display: flex;
			align-items: center;
			justify-content: center;

			.picture {
				flex: 0 0 75%;
				border: 3px solid rgba(5, 5, 5, 0.2);
				border-radius: 10px;
				object-fit: cover;
				box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
			}
		}

		.content-roll {
			flex: 1 1 0;
		}

		.tactical-map-container {
			overflow: hidden;
		}
	}
}

html[data-theme="dark"] {
	.plot-panel {
		.plot-content-row {
			.content-text {
				&.read-aloud {
					border-color: rgba(250, 250, 250, 0.6);
					background-color: rgb(0, 0, 0);
				}
			}
		}
	}
}
