.stats-row {
	margin: 5px 0;
	padding: 10px;
	background: linear-gradient(rgb(255, 255, 255), rgb(250, 250, 250));
	border-radius: 10px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.12);

	&.clickable {
		cursor: pointer;

		&:hover {
			background: rgb(230, 244, 255);
		}
	}

	.stats-row-content {
		display: flex;
		align-items: flex-start;
		justify-content: space-evenly;
		gap: 10px;

		&>* {
			flex: 1 1 0;
		}
	}

	.stats-row-caption {
		margin: 10px 10px 0 10px;
		border-top: 1px solid rgb(230, 230, 230);
		padding-top: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 10px;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 2px;
		opacity: 0.5;
	}
}

html[data-theme="dark"] {
	.stats-row {
		background: linear-gradient(rgb(25, 25, 25), rgb(0, 0, 0));

		&.clickable {
			&:hover {
				background: rgba(22, 119, 255, 0.2);
			}
		}
	}
}
