.loading-status {
    &.none .anticon {
        opacity: 0.1;
    }
    &.loading .anticon {
        opacity: 0.5;
    }
    &.success .anticon {
        color: #52c41a;
    }
    &.error .anticon {
        color: #fa541c;
    }
}