.pill {
	margin: -2px 0;
	border: 1px solid rgb(22, 119, 255);
	border-radius: 10px;
	background-color: rgb(230, 244, 255);
	padding: 2px 6px;
	font-size: 10px;
	font-weight: 600;
	min-width: 38px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
}

html[data-theme="dark"] {
	.pill {
		background-color: rgb(230, 244, 255);
		color: rgba(0, 0, 0, 0.88);
	}
}
