.library-list-page {
	height: 100%;
	display: flex;
	flex-direction: column;

	.library-list-page-content {
		background-color: rgb(230, 230, 230);
		flex: 1 1 0;
		display: flex;
		flex-direction: row;
		overflow: hidden;

		.selection-sidebar {
			flex: 0 0 450px;
			display: flex;
			flex-direction: column;
			gap: 10px;
			padding: 20px 0 20px 20px;

			&.closed {
				flex: 0 0 auto;
			}

			.selection-toolbar {
				flex: 0 0 auto;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;
				gap: 5px;
			}

			.selection-content {
				flex: 1 1 0;
				display: flex;
				flex-direction: row;
				gap: 10px;
				overflow: hidden;

				.selection-list {
					display: flex;
					flex-direction: column;
					gap: 5px;
					background-color: rgb(255, 255, 255);
					border-radius: 10px;
					padding: 5px;
					overflow-y: auto;

					&.categories {
						flex: 0 0 180px;
					}

					&.elements {
						flex: 1 1 0;
					}

					.list-header {
						background-color: rgb(230, 230, 230);
						border-radius: 5px;
						padding: 5px;
					}

					.selection-list-group-header {
						padding: 0 5px;
					}
				}
			}
		}

		@media (max-width: 420px) {
			.selection-sidebar > * {
				max-width: 200px;
			}
		}

		.element-selected {
			flex: 1 1 0;
			overflow-y: auto;
		}
	}
}

html[data-theme="dark"] {
	.library-list-page {
		.library-list-page-content {
			background-color: rgb(55, 55, 55);

			.selection-sidebar {
				.selection-content {
					.selection-list {
						background-color: rgb(0, 0, 0);

						.list-header {
							background-color: rgb(55, 55, 55);
						}
					}
				}
			}
		}
	}
}
