.library-list-page {
	height: 100%;
	display: flex;
	flex-direction: column;

	.library-list-page-content {
		background-color: var(--fs-canvas);
		flex: 1 1 0;
		display: flex;
		flex-direction: row;
		overflow: hidden;

		.selection-sidebar {
			flex: 0 0 500px;
			display: flex;
			flex-direction: row;
			gap: 10px;
			padding: 20px 0 20px 20px;

			&.full-width {
				flex: 1 1 0;
				padding: 20px;
			}

			&.closed {
				flex: 0 0 auto;
			}

			.selection-content {
				flex: 1 1 0;
				display: flex;
				flex-direction: row;
				gap: 10px;
				overflow: hidden;

				.selection-list {
					flex: 1 1 0;
					display: flex;
					flex-direction: column;
					gap: 5px;
					background-color: var(--fs-surface);
					border-radius: 10px;
					padding: 5px;
					overflow-y: auto;

					.list-header {
						background-color: var(--fs-canvas);
						border-radius: 5px;
						padding: 5px;
					}

					.header-text-panel {
						padding: 0 5px;
					}
				}
			}
		}

		.element-selected {
			flex: 1 1 0;
			overflow-y: auto;
		}
	}
}
