.library-list-page {
	height: 100%;
	display: flex;
	flex-direction: column;

	.library-list-page-content {
		background-color: rgb(230, 230, 230);
		flex: 1 1 0;
		display: flex;
		flex-direction: row;
		overflow: hidden;

		.selection-sidebar {
			flex: 0 0 400px;
			display: flex;
			flex-direction: column;
			gap: 10px;
			padding: 20px 0 20px 20px;

			&.closed {
				flex: 0 0 auto;
			}

			.selection-toolbar {
				flex: 0 0 auto;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;
				gap: 5px;
			}

			.selection-content {
				flex: 1 1 0;
				display: flex;
				flex-direction: row;
				gap: 10px;
				overflow: hidden;

				.selection-list {
					flex: 0 0 150px;
					display: flex;
					flex-direction: column;
					gap: 5px;
					background-color: white;
					border-radius: 10px;
					padding: 5px;
					overflow-y: auto;

					&.categories {
						flex: 0 0 150px;
					}

					&.elements {
						flex: 1 1 0;
					}
				}
			}
		}

		.element-selected {
			flex: 1 1 0;
			overflow-y: auto;
		}
	}
}

@media (prefers-color-scheme: dark) {
	.library-list-page {
		.library-list-page-content {
			background-color: rgb(55, 55, 55);
		}
	}
}
