@use '../../../pages/classic-sheet/common.scss';

#classic-sheet .hero-sheet .titles.card {
    // @include common.striped-card;

    display: grid;
    grid-template-rows: min-content 1fr;
    place-items: stretch;

    ul {
        list-style: none;
        margin:0;
        padding:0;

        li {
            break-inside: avoid-column;
        }
    }

    &.wide ul {
        min-height: 130px;
        column-count: 2;

        background-image: linear-gradient(0deg, common.$color-light, common.$color-light);
        background-size: 2px 100%;
        background-position: 50% 4px;
        background-repeat: no-repeat;
    }

    h3 {
        border: 0;
        background-image: linear-gradient(90deg, transparent 0%, 
            common.$color-medium 25%, common.$color-medium 75%, transparent 100%);
        background-size: 100% 1px;
        background-position: center bottom;
        background-repeat: no-repeat;
    }
}
